    <!-- Heading -->
    <div style="padding-right:0px;text-align:center;" class="col-md-12 heading-wrapper " data-wow-duration="1.5s" data-wow-delay=".7s">
      <img src="<%= image_path('gosomi_logo_beta.png') %>">
        <input style="display:none" value="<%=Consult.count %>" id="goso_count" type="number">
            <h4 class="lead">건전한 사이버문화를 지향합니다.</small></h4>
    </div>
    <div class="col-md-7 mb_side_pd_0 main_left">
      <div class="col-md-12 sub_two">
        <!-- Item 1 -->
          <div class="col-xs-6 col-md-6 container ft-centered main_cards mb_right_pd_5 mb_side_pd_0 mb_mg_bottom" style="margin-bottom:0px;padding:0px;">
              <div class="col-md-12 col-xs-12 mb-sm-50 ft-item ft-dark-spin odd_button" data-wow-duration="1.5s" data-wow-delay=".7s">
              <a href="/sue/query" style="display:none"></a>
                  <span style="font-size:2em;width:2em;height:2em;line-height:2em" class="main_odd fa fa-pencil"></span>
                  <h2 style="color:#fff" class="sub_sub">고소장 작성</h2>
                  <hr>
                  <p class="main_four_cols" style="color:#fff;margin:0px;">무고죄 예방<br> 민사소송 고려한 <br class="mb_line_break">고소장 작성</p>
                  <hr>
              </div>
          </div>
          <!-- Item 2 -->
          <div class="col-xs-6 col-md-6 container ft-centered main_cards mb_left_pd_5 mb_side_pd_0 mb_mg_bottom" style="margin-bottom:0px;padding:0px;">
              <div class="col-md-12 col-xs-12 mb-sm-50 ft-item ft-dark-spin even_button" data-wow-duration=".6s" data-wow-delay=".3s">
                <a href="/sue/query" style="display:none"></a>
                  <span style="font-size:2em;width:2em;height:2em;line-height:2em" class="main_even fa fa-magic"></span>
                  <h2 style="color:#fff" class="sub_sub">고소 대행</h2>
                  <hr>
                  <p class="main_four_cols" style="color:#fff;margin:0px;">자료 수집부터 <br>민사소송까지 <br class="mb_line_break">종합서비스</p>
                  <hr>
              </div>
          </div>
      </div>
      <div class="col-md-12 sub_two" style=";">
        <!-- Item 3 -->
        <div class="col-xs-6 col-md-6 container main_cards ft-centered mb_right_pd_5 mb_side_pd_0 mb_mg_bottom" style="margin-bottom:0px;padding:0px;">
            <div class="col-md-12 col-xs-12 mb-sm-50 ft-item ft-dark-spin even_button"  data-wow-duration=".6s" data-wow-delay=".3s">
                <a href="/main/lawyer" style="display:none"></a>
                <span style="font-size:2em;width:2em;height:2em;line-height:2em" class="main_even fa fa-suitcase"></span>
                <h2 style="color:#fff" class="sub_sub">합의 대행</h2>
                <hr>
                <p class="main_four_cols" style="color:#fff;margin:0px;">가해자 상대<br> 합의 대행<br class="mb_line_break"></p>
                <hr>
            </div>
        </div>
        <!-- Item 4 -->
        <div class="col-xs-6 col-md-6 container main_cards ft-centered mb_left_pd_5 mb_side_pd_0 mb_mg_bottom" style="margin-bottom:0px;padding:0px;">
            <div class="col-md-12 col-xs-12 mb-sm-50 ft-item ft-dark-spin odd_button"  data-wow-duration="1.5s" data-wow-delay=".7s">
              <a href="/main/lawyer" style="display:none"></a>
                <span style="font-size:2em;width:2em;height:2em;line-height:2em" class="main_odd fa fa-balance-scale"></span>
                <h2 style="color:#fff" class="sub_sub">민사 소송</h2>
                <hr>
                <p class="main_four_cols" style="color:#fff;margin:0px;">손해배상<br> 소송진행<br class="mb_line_break"></p>
                <hr>
            </div>
        </div>
      </div>
    </div>
