<div class="blog-post" style="background:#fff;margin-bottom:30px">
  <div class="main_celub bp-content" style="border-left: 5px solid #B11D13;">
      <div class="row">
        <div class="col-md-12 sidebar">
          <h2 style="display:inline-block"><i class="fa fa-newspaper-o"></i>14세 연하 검사와 결혼 김원준, “강력 법적 조치 취할 것” 악플러 엄중 경고</h2>
          <div class="col-md-12 ws-s tags-widget" style="padding-left:0px;padding-bottom: 0px;">
            <h4 class="article_label_sub"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-hand-pointer-o fa-stack-1x fa-inverse"></i></span><a href="#"> 자세히 보기</a></h4>
          </div>
        </div>
      </div>
    </div>
    <div style="position:absolute;width:100%;height:30px;">
    </div>
</div><!-- / .blog-post -->


<div class="blog-post" style="background:#B11D13;margin-bottom:30px;color:#fff;">
  <div class="main_celub bp-content test" style="border-left: 10px solid #E4844A;">
      <div class="row">
        <div class="col-md-12 sidebar">
          <h2 style="display:inline-block;color:#fff"><i class="fa fa-newspaper-o"></i>14세 연하 검사와 결혼 김원준, “강력 법적 조치 취할 것” 악플러 엄중 경고</h2>
          <div class="col-md-12 ws-s tags-widget" style="padding-left:0px;padding-bottom: 0px;">
            <h4 style="color:#fff"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-hand-pointer-o fa-stack-1x fa-inverse article_label_sub"></i></span><a href="#" style="color:#fff"> 자세히 보기</a></h4>
          </div>
        </div>
      </div>
    </div>
    <div style="position:absolute;width:100%;height:30px;">
    </div>
</div><!-- / .blog-post -->

<div class="blog-post" style="background:#fff;margin-bottom:30px">
  <div class="main_celub bp-content" style="border-left: 5px solid #B11D13;">
      <div class="row">
        <div class="col-md-12 sidebar">
          <h2 style="display:inline-block"><i class="fa fa-newspaper-o"></i>14세 연하 검사와 결혼 김원준, “강력 법적 조치 취할 것” 악플러 엄중 경고</h2>
          <div class="col-md-12 ws-s tags-widget" style="padding-left:0px;padding-bottom: 0px;">
            <h4 class="article_label_sub"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-hand-pointer-o fa-stack-1x fa-inverse"></i></span><a href="#"> 자세히 보기</a></h4>
          </div>
        </div>
      </div>
    </div>
    <div style="position:absolute;width:100%;height:30px;">
    </div>
</div><!-- / .blog-post -->

<style>
  .celub_label {
    color:#B11D13;
  }
  .celub_label_sub {
    color:#777;
  }
  .article_label_sub {
    color:#B11D13 !important;
    margin-top:0px;
    margin-bottom:0px;
  }
  .celub_label_heading {
    margin-top:0px;
    margin-left:30px;
  }
  .test {
    padding:10px 15px 10px 15px !important;
  }
</style>

