<!-- ========== Sidebar ========== -->

            <aside class="col-md-3 sidebar mb-sm-160">


              <!-- Search - Widget -->
              

               <div class="col-md-12 portfolio-item game">
                <div class="blog-post" style="border-bottom: 5px solid #BB6D32;border-top: 5px solid #BB6D32;background:#fff;border-left: none;">

                  <!-- Image -->
  
                  <div class="bp-content" style="padding-right: 30px;padding-bottom: 0px;">
                  
                    <div class="row">
                            <div class="col-md-12 sidebar">
                              <h3 style="margin-bottom:10px;"><i class="fa fa-tag fa-flip-horizontal"></i> 카테고리 </h3>
                              <hr>
                              <div class="col-md-12 ws-s tags-widget" style="padding-left:0px;padding-bottom:30px">
                                <ul id="pfolio-filters" style="list-style:none;padding-left:0px;border-bottom:1px solid #ccc;" class="custom_qna">
                                  <li class="active"><a style="color:black;text-decoration:none;cursor:pointer" class="num_1">제보 관리</a></li>
                                  <li><a id="go_document" style="color:black;text-decoration:none;cursor:pointer" class="num_2">고소장 관리</a></li>
                                  </ul>
                                  
                              </div>
                            </div>
                          </div>
                        </div>
                      </div><!-- / .bp-content -->
                    </div>
              
                  
            </aside><!-- / .sidebar -->
           