<script>
  function tag() {
    var a = document.getElementById("tag_game");
    if (a.style.display == "none") 
        a.style.display = "block";
    else 
        a.style.display = "block";
  }
  
  function com() {
    var a = document.getElementById("tag_community");
    if (a.style.display == "none") 
        a.style.display = "block";
    else 
        a.style.display = "block";
  }
  function sns() {
    var a = document.getElementById("tag_sns");
    if (a.style.display == "none") 
        a.style.display = "block";
    else 
        a.style.display = "block";
  }
</script>
<style>  
 .game_condition .bg-overlay {
  background:none !important
 }
 .game_condition:hover .bg-overlay{
  background:rgba(255, 255, 255, 0.16) !important
  
 }
 </style>   
        <!-- ========== Page Title ========== -->

        <header style="border-bottom: 2px solid gray;
    background: url(http://shartlon.com/wp-content/uploads/2015/09/09059_412_5-7-2009.jpg) no-repeat center center;
    background-size: cover ;
    background-position: 0% 60%;" class="page-title pt-large pt-dark pt-plax-lg-dark">
          <div class="container">
              <div class="row">

                <div class="col-md-12" style="text-align:center">
                  <a href="/qna/index"><h1 class="lead" style="font-family:'Nanum Myeongjo'">명예훼손 및 <br class="mb_line_break">모욕죄 성립요건</h1></a>
                  <span class="sub">문서 작성에 필요한 간단한 법률정보</span>
                </div>
              </div>

            </div>
        </header>
        
        
    <!-- ========== Portfolio ========== -->

        <section class="container-fluid portfolio-layout portfolio-columns-fw" style="margin-top:0px;padding-top:60px">
              
          <!-- Filters -->
          <div class="row">
            <ul id="pfolio-filters" class="portfolio-filters">
              <li class="active"><a href="#" data-filter=".default">전체설명</a></li>
              <li><a href="#" onclick="tag()" data-filter=".game">게임</a></li>
              <li><a href="#" onclick="com()" data-filter=".community">커뮤니티</a></li>
            </ul>
          </div>

          <div class="row" id="pfolio">

             
          <div class="col-md-12 portfolio-item default">
                
                
                    <div id="condition_1" class="container-fluid">
                      <header class="sec-heading" style="margin-bottom:20px">
                        <h2 style="font-weight:400" class="lead">#1 - 분야 선택</h2>
                        <span class="sub">자신의 상황에 맞는 분야를 선택하세요</span>
                      </header>
                           
                            <!-- Image -->
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-8 ft-img-container" style="text-align:center;">
                              <img src="/assets/images/test_5.png" style="width:100%"alt="Definity - HTML Template" class="ft-img">
                            </div><!-- / .col-md-6 -->
                            <div class="col-md-2">
                            </div>
                
                    </div><!-- / .container-fluid -->



                    <div id="condition_2" class="container-fluid" style="background:#f8f8f8;padding-top:60px">
                      <header class="sec-heading" style="margin-bottom:20px">
                        <h2 style="font-weight:400" class="lead">#2 - 문서 작성</h2>
                        <span class="sub">단답형 질문을 바탕으로 문구를 자동으로 완성시켜드립니다 </span>
                      </header>
                           
                            <!-- Image -->
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-8 ft-img-container" style="text-align:center;">
                              <img src="/assets/images/intro_prod_2.png" style="width:100%"alt="Definity - HTML Template" class="ft-img">
                            </div><!-- / .col-md-6 -->
                            <div class="col-md-2">
                            </div>
                
                    </div><!-- / .container-fluid -->


                    <div id="condition_3" class="container-fluid" style="padding-top:60px">
                      <header class="sec-heading" style="margin-bottom:20px">
                        <h2 style="font-weight:400" class="lead">#3 - 인쇄 및 자동접수</h2>
                        <span class="sub">최종 수정 후 문서 인쇄 또는 관할 관서에 문서 송달대행을 도와드립니다</span>
                      </header>
                           
                            <!-- Image -->
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-8 ft-img-container" style="text-align:center;">
                              <img src="/assets/images/intro_prod_3.png" style="width:100%"alt="Definity - HTML Template" class="ft-img">
                            </div><!-- / .col-md-6 -->
                            <div class="col-md-2">
                            </div>
                
                    </div><!-- / .container-fluid -->

                
             
                
                
      </div><!-- default row -->

              <!-- game -->
              <div class="col-md-12 ft-hover-item portfolio-item game" id="tag_game" style="display:none;width:100%">
                 <div class="row">   
                                 
                     <div id="condition_1" class="container-fluid">
                           
                            <!-- Image -->
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-6 ft-img-container" style="text-align:center;">
                              <img src="/assets/images/process_2.png" style="width:100%"alt="Definity - HTML Template" class="ft-img">
                            </div><!-- / .col-md-6 -->
                            <div class="col-md-3">
                            </div>
                
                      </div><!-- / .container-fluid -->
                      
                      
                      <div class="col-md-12" style="text-align:center;margin-top:0px">
                        <p style="margin-top:30px;padding-left:15px;padding-right:15px;" class="sub_sub">아래 내용은 <strong>일반적인 정보</strong>를 제공할 목적으로 작성되었습니다. <br>
        해당 내용을 근거로 하여, 어떠한 법률적 조치를 취하기에 앞서 
        반드시 <strong>변호사에게 실질적인 자문</strong>을 구하시기 바랍니다.<br>
        법률 자문 없이 상기 정보로 인하여 문제가 발생함으로써
        손해를 입게 되었다고 해도, 어떠한 법적 책임도 지지 않는다는 것을 알려드립니다.</p>
        </div>
                           
            
                  </div><!-- / .bg-overlay -->
                   
              </div><!-- game end -->
              
              
              
              
              <!-- community -->
              <div class="col-md-12 ft-hover-item portfolio-item community" id="tag_community" style="display:none;width:100%">
                
                                     <!-- ========== Feature Text + Big Image ========== -->
                   <div class="row">
                        
                   
                                 
                     <div id="condition_1" class="container-fluid">
                           
                            <!-- Image -->
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-6 ft-img-container" style="text-align:center;">
                              <img src="/assets/images/process_1.png" style="width:100%"alt="Definity - HTML Template" class="ft-img">
                            </div><!-- / .col-md-6 -->
                            <div class="col-md-3">
                            </div>
                
                      </div><!-- / .container-fluid -->
                      
                      
                      <div class="col-md-12" style="text-align:center;margin-top:0px">
                        <p style="margin-top:30px;padding-left:15px;padding-right:15px;" class="sub_sub">아래 내용은 <strong>일반적인 정보</strong>를 제공할 목적으로 작성되었습니다. <br>
        해당 내용을 근거로 하여, 어떠한 법률적 조치를 취하기에 앞서 
        반드시 <strong>변호사에게 실질적인 자문</strong>을 구하시기 바랍니다.<br>
        법률 자문 없이 상기 정보로 인하여 문제가 발생함으로써
        손해를 입게 되었다고 해도, 어떠한 법적 책임도 지지 않는다는 것을 알려드립니다.</p>
        </div>
                           
            
                  
                     
                   </div><!-- / .bg-overlay -->
              </div><!-- / .ft-item -->
              
              
              
          </div><!-- / .row -->
          
          
        </section><!-- / .portfolio-columns-fw -->

        
        
         <header style="
    background: url(/assets/images/mac-coffe-photo.jpg) no-repeat center center;
    background-size: cover;" class="page-title pt-large pt-dark pt-plax-lg-dark">
          <div class="container">
              <div class="row" style="text-align:center">

                <div class="col-md-12 mb-sm-100 count-item wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
                <h1 style="color:white">더 궁금하세요?</h1><br>
                <a href="/qna/index" class="btn btn-light btn-large"><strong>Q&A 게시판으로 이동</strong></a>
                
              </div>
              </div>

            </div>
        </header>


 <script src="/assets/js/vendor/isotope.min.js"></script>