        <header style="background:url(http://ademkliniek.eu/wp-content/uploads/2015/04/consultation1.jpg);background-size:cover;background-position:0% 50%;padding-bottom:100px" class="page-title pt-large pt-dark pt-plax-lg-dark mb_side_pd_0">
            <div class="container">
              <div class="row">

                <div class="col-md-12" style="text-align:center">
                  <a href="/qna/index"><h1 class="lead" style="font-family:'Nanum Myeongjo'">변호사 상담 </h1></a>
                </div>
              </div>
            </div>
        </header>

      <!-- ========== Features - Cards ========== -->

      <div class="gray-bg" style="background:#fff">
        <section class="container ft-steps-numbers ft-centered">
          <div class="row section" style="padding-top:60px">
            <div class="col-md-6 lawyer_main_left">
              <h1 class="lead text-center">대상 고객</h1>
              <!-- Step 1 -->
              <div class="col-md-12 mb-sm-100 ft-item" style="margin-bottom:100px;margin-top:15px">
                <span class="ft-nbr">01</span>
                <h4 class="lawyer_invisible">피</h4>
                <p class="lawyer_cts_le">사건의 사실관계가 복잡한 경우</p>
              </div>

              <!-- Step 2 -->
              <div class="col-md-12 mb-sm-100 ft-item" style="margin-bottom:100px">
                <span class="ft-nbr">02</span>
                <h4 class="lawyer_invisible">피</h4>
                <p class="lawyer_cts_le">피고소인이 다수인 경우</p>
              </div>

              <!-- Step 3 -->
              <div class="col-md-12 mb-sm-100 ft-item" style="margin-bottom:100px">
                <span class="ft-nbr">03</span>
                <h4 class="lawyer_invisible">본</h4>
                <p class="lawyer_cts_le">본인이 유명인 혹은 공인인 경우</p>
              </div>
            </div><!-- / .col-md-6 -->

            <div class="col-md-6 lawyer_main_right">
              <h1 class="lead text-center">서비스 내용</h1>
              <!-- Step 1 -->
              <div class="col-md-12 ft-item ft-circle-frame-dark">
                <span class="fa fa-magic"></span>
                <h5 class="lawyer_cts_le">사건에 최적화된 고소장 작성</h5>
              </div>
              <div class="col-md-12 ft-item ft-circle-frame-dark">
                <span class="fa fa-gavel"></span>
                <h5 class="lawyer_cts_le">형사 고소 후 민사 재판 진행</h5>
              </div>
              <div class="col-md-12 ft-item ft-circle-frame-dark">
                <span class="fa fa-rocket"></span>
                <h5 class="lawyer_cts_le">협력업체 : 법무법인 예율 <a href="http://www.lawhere.co.kr">로히어</a>팀</h5>
              </div>
            </div><!-- / .col-md-6 -->
            <div class="col-md-12 text-center" style="margin-top:30px">
              <a href="/sue/query" class="btn btn-large lawyer_botton_go">상담하기</a>
            </div>
          </div><!-- / .row -->
        </section>


		  </div>
       
