<br><br><Br><br><br>
<div>
    <a href='/main/likelogin'>shoot login</a><br>
    <a href='/main/likecontent'>shoot content</a>
    <p>login like : <%=current_user.likelogins.count%></p>
    <p>content like : <%=@likecontent%></p>
    <p>like hws : <%=@likehws%></p>
</div>
