<style>
 .game_condition .bg-overlay {
  background:none !important
 }
 .game_condition:hover .bg-overlay{
  background:rgba(255, 255, 255, 0.16) !important

 }
 </style>
        <!-- ========== Page Title ========== -->
        <header style="border-bottom: 2px solid gray;
    background: url(http://shartlon.com/wp-content/uploads/2015/09/09059_412_5-7-2009.jpg) no-repeat center center;
    background-size: cover ;
    background-position: 0% 60%;" class="page-title pt-large pt-dark pt-plax-lg-dark">
          <div class="container">
              <div class="row">

                <div class="col-md-12" style="text-align:center">
                  <a href="/qna/index"><h1 class="lead" style="font-family:'Nanum Myeongjo'">서비스 유의사항</h1></a>
                  <span class="sub">서비스 과정에 대한 간략한 소개</span>
                </div>

              </div>

            </div>
        </header>


    <!-- ========== Portfolio ========== -->

        <section class="container-fluid portfolio-layout portfolio-columns-fw" style="margin-top:0px;padding-top:60px">

          <!-- Filters -->
          <div class="row">
            <ul id="law-filters" class="portfolio-filters">
              <li id="li_st"><a href="#" id="go_st">대표 사례</a></li>
              <li id="li_mh"><a href="#" id="go_mh">주요 판례</a></li>
              <li class="hidden" id="li_my"><a href="#" id="go_my">변호사 상담</a></li>
            </ul>
          </div>

          <div class="row first_page" id="pfolio">


          <div class="col-md-12 portfolio-item">
              <div class="col-md-6">
                <div class="col-md-12" style="height:250px;border:1px solid #777;border-radius:15px;padding-top:20px;">
                  <p class="sub">설명 및 효력</p>
                </div>
              </div>
              <div class="col-md-6" style="margin-bottom:50px;">
                <div class="col-md-12" style="height:250px;border:1px solid #777;border-radius:15px;padding-top:20px;">
                  <p class="sub">필요한 때</p>
                </div>
              </div>

                    <div  class="container-fluid" >
                      <h3 class="lead text-center">서비스 소개</h3>
                      <header class="sec-heading" style="margin-bottom:20px">
                        <h2 style="font-weight:400" class="lead">#1 - 유명인 악플러 제보 선택</h2>
                        <span class="sub"></span>
                      </header>

                            <!-- Image -->
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-10 ft-img-container" style="text-align:center;">
                              <img src="<%= image_path('notice_celub_2.png') %>" style="width:100%"alt="Definity - HTML Template" class="ft-img">
                            </div><!-- / .col-md-6 -->
                            <div class="col-md-1">
                            </div>

                    </div><!-- / .container-fluid -->



                    <div  class="container-fluid" style="background:#f8f8f8;padding-top:60px">
                      <header class="sec-heading" style="margin-bottom:20px">
                        <h2 style="font-weight:400" class="lead">#2 - 제보 정보 확인</h2>
                      </header>

                            <!-- Image -->
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-10 ft-img-container" style="text-align:center;">
                              <img src="<%= image_path('notice_celub.png') %>" style="width:100%"alt="Definity - HTML Template" class="ft-img">
                            </div><!-- / .col-md-6 -->
                            <div class="col-md-1">
                            </div>

                    </div><!-- / .container-fluid -->


                    <div class="container-fluid" style="background:#f8f8f8;padding-top:60px">
                      <header class="sec-heading" style="margin-bottom:20px">
                        <h2 style="font-weight:400" class="lead">접수 이후의 절차</h2>
                      </header>

                            <!-- Image -->
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-6 ft-img-container" style="text-align:center;margin-bottom:30px">
                              <img src="<%= image_path('notice_celub_after.png') %>" style="width:100%"alt="Definity - HTML Template" class="ft-img">
                            </div><!-- / .col-md-6 -->
                            <div class="col-md-3">
                            </div>

                    </div><!-- / .container-fluid -->



       </div>

      </div><!-- default row -->

    </section><!-- / .portfolio-columns-fw -->



         <header style="
    background: url(<%= image_url('mac-coffe-photo.jpg') %>) no-repeat center center;
    background-size: cover;" class="page-title pt-large pt-dark pt-plax-lg-dark">
          <div class="container">
              <div class="row" style="text-align:center">
                <div class="col-md-12">
                <h1 class="lead" style="color:white;margin-bottom:30px">도움이 더 필요하세요?</h1>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-8 wow fadeIn" style="margin-bottom:30px" data-wow-duration="1s" data-wow-delay=".3s">
                <a style="width:100%" href="/sue/category" class="btn btn-ghost-light"><strong>서비스 이용하기</strong></a>
                </div>
                <div class="col-md-2"></div>
              </div>

            </div>
        </header>


 <script src="/assets/js/vendor/isotope.min.js"></script>
 <script>
            $('.num_2').hide();
            $('.num_3').hide();
            $('.num_4').hide();
            $('.second_page').hide();
            $('.third_page').hide();
            $('#li_st').attr('class','active');
            $('#go_st').on('click',function(event){
              $('.num_2').hide();
              $('.num_3').hide();
              $('.num_4').hide();
              $('.num_1').show();
              $('.first_page').show();
              $('.second_page').hide();
              $('.third_page').hide();
              $('#li_my').attr('class','');
              $('#li_st').attr('class','');
              $('#li_etc').attr('class','');
              $('#go_st').attr('class','active');
            })
            $('#go_mh').on('click',function(event){
              $('.num_1').hide();
              $('.num_3').hide();
              $('.num_4').hide();
              $('.num_2').show();
              $('.first_page').hide();
              $('.second_page').show();
              $('.third_page').hide();
              $('#li_mh').attr('class','');
              $('#li_st').attr('class','');
              $('#li_etc').attr('class','');
              $('#li_mh').attr('class','active');
            })
            $('#go_my').on('click',function(event){
              $('.num_1').hide();
              $('.num_2').hide();
              $('.num_4').hide();
              $('.num_3').show();
              $('.first_page').hide();
              $('.second_page').hide();
              $('.third_page').show();
              $('#li_mh').attr('class','');
              $('#li_my').attr('class','');
              $('#li_etc').attr('class','');
              $('#li_my').attr('class','active');
            })
            $('#go_etc').on('click',function(event){
              $('.num_1').hide();
              $('.num_2').hide();
              $('.num_3').hide();
              $('.num_4').show();
              $('.first_page').hide();
              $('.second_page').hide();
              $('.third_page').show();
              $('#li_mh').attr('class','');
              $('#li_my').attr('class','');
              $('#li_st').attr('class','');
              $('#li_etc').attr('class','active');
            })
          </script>
