<style>
 .game_condition .bg-overlay {
  background:none !important
 }
 .game_condition:hover .bg-overlay{
  background:rgba(255, 255, 255, 0.16) !important

 }
 </style>
        <!-- ========== Page Title ========== -->
        <header style="border-bottom: 2px solid gray;
    background: url(http://shartlon.com/wp-content/uploads/2015/09/09059_412_5-7-2009.jpg) no-repeat center center;
    background-size: cover ;
    background-position: 0% 60%;" class="page-title pt-large pt-dark pt-plax-lg-dark">
          <div class="container">
              <div class="row">

                <div class="col-md-12" style="text-align:center">
                  <a href="/qna/index"><h1 class="lead" style="font-family:'Nanum Myeongjo'">내용 증명</h1></a>
                  <span class="sub">서비스 과정에 대한 간략한 소개</span>
                </div>

              </div>

            </div>
        </header>


    <!-- ========== Portfolio ========== -->

        <section class="container-fluid portfolio-layout portfolio-columns-fw" style="margin-top:0px;padding-top:60px">

          <div class="row first_page" id="pfolio">


          <div class="col-md-12 portfolio-item">
            <div class="col-md-12 no-gap">
              <div class="col-md-6">
                <div class="col-md-12" style="border:1px solid #777;border-radius:15px;padding-top:20px;">
                  <h4 class="sub"><span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                  </span>설명 및 효력</h4>
                  <p class="sub" style="white-space:pre-wrap">
-내용 증명이란?!
내용증명은 회사로부터 부당해고를 당했다는 내용을 입증하는 문서입니다.
내용증명을 보내면 법적 검토를 하고 있다는 의미로 차후 협상이나 문제해결 과정에서 협상력을 갖게 됩니다.

-왜 노동자닷컴인가?
변호사가 검수한 내용증명은 더욱더 강한 의미로 법률검토를 한다는 것을 의미합니다.  변호사 명의로 작성된 내용증명으로 부당해고에 보다 강력하게 대응하세요</p>
                </div>
              </div>
              <div class="col-md-6" style="margin-bottom:50px;">
                <div class="col-md-12" style="border:1px solid #777;border-radius:15px;padding-top:20px;">
                  <h4 class="sub"><span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                  </span>필요한 때</h4>
                  <p class="sub" style="white-space:pre-wrap">
-부당해고를 보다 간결히 해결하고 싶을 때
-회사가 자신의 주장만 하며 부당해고를 인정하지 않을 때
                  </p>
                </div>
              </div>
            </div>


                    <div class="container-fluid">
                      <h3 class="lead text-center">서비스 소개</h3>
                      <header class="sec-heading" style="margin-bottom:20px">
                        <h2 style="font-weight:400" class="lead">#1 - 해당사항 선택</h2>
                        <span class="sub"></span>
                      </header>

                            <!-- Image -->
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-10 ft-img-container" style="text-align:center;">
                              <img src="<%= image_path('notice_celub_2.png') %>" style="width:100%"alt="Definity - HTML Template" class="ft-img">
                            </div><!-- / .col-md-6 -->
                            <div class="col-md-1">
                            </div>

                    </div><!-- / .container-fluid -->



                    <div  class="container-fluid" style="background:#f8f8f8;padding-top:60px">
                      <header class="sec-heading" style="margin-bottom:20px">
                        <h2 style="font-weight:400" class="lead">#2 - 제보 정보 확인</h2>
                      </header>

                            <!-- Image -->
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-10 ft-img-container" style="text-align:center;">
                              <img src="<%= image_path('notice_celub.png') %>" style="width:100%"alt="Definity - HTML Template" class="ft-img">
                            </div><!-- / .col-md-6 -->
                            <div class="col-md-1">
                            </div>

                    </div><!-- / .container-fluid -->


                    <div class="container-fluid" style="background:#f8f8f8;padding-top:60px">
                      <header class="sec-heading" style="margin-bottom:20px">
                        <h2 style="font-weight:400" class="lead">전반적인 프로세스</h2>
                      </header>

                            <!-- Image -->
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-6 ft-img-container" style="text-align:center;margin-bottom:30px">
                              <img src="<%= image_path('notice_celub_after.png') %>" style="width:100%"alt="Definity - HTML Template" class="ft-img">
                            </div><!-- / .col-md-6 -->
                            <div class="col-md-3">
                            </div>

                    </div><!-- / .container-fluid -->



       </div>

      </div><!-- default row -->

    </section><!-- / .portfolio-columns-fw -->



         <header style="
    background: url(<%= image_url('mac-coffe-photo.jpg') %>) no-repeat center center;
    background-size: cover;" class="page-title pt-large pt-dark pt-plax-lg-dark">
          <div class="container">
              <div class="row" style="text-align:center">
                <div class="col-md-2"></div>
                <div class="col-md-8 wow fadeIn" style="margin-bottom:30px" data-wow-duration="1s" data-wow-delay=".3s">
                <a style="width:100%" onclick="alert('준비중입니다')" class="btn btn-ghost-light"><strong>내용 증명 신청하기</strong></a>
                </div>
                <div class="col-md-2"></div>
              </div>

            </div>
        </header>


 <script src="/assets/js/vendor/isotope.min.js"></script>
 <script>
            $('.num_2').hide();
            $('.num_3').hide();
            $('.num_4').hide();
            $('.second_page').hide();
            $('.third_page').hide();
            $('#li_st').attr('class','active');
            $('#go_st').on('click',function(event){
              $('.num_2').hide();
              $('.num_3').hide();
              $('.num_4').hide();
              $('.num_1').show();
              $('.first_page').show();
              $('.second_page').hide();
              $('.third_page').hide();
              $('#li_my').attr('class','');
              $('#li_st').attr('class','');
              $('#li_etc').attr('class','');
              $('#go_st').attr('class','active');
            })
            $('#go_mh').on('click',function(event){
              $('.num_1').hide();
              $('.num_3').hide();
              $('.num_4').hide();
              $('.num_2').show();
              $('.first_page').hide();
              $('.second_page').show();
              $('.third_page').hide();
              $('#li_mh').attr('class','');
              $('#li_st').attr('class','');
              $('#li_etc').attr('class','');
              $('#li_mh').attr('class','active');
            })
            $('#go_my').on('click',function(event){
              $('.num_1').hide();
              $('.num_2').hide();
              $('.num_4').hide();
              $('.num_3').show();
              $('.first_page').hide();
              $('.second_page').hide();
              $('.third_page').show();
              $('#li_mh').attr('class','');
              $('#li_my').attr('class','');
              $('#li_etc').attr('class','');
              $('#li_my').attr('class','active');
            })
            $('#go_etc').on('click',function(event){
              $('.num_1').hide();
              $('.num_2').hide();
              $('.num_3').hide();
              $('.num_4').show();
              $('.first_page').hide();
              $('.second_page').hide();
              $('.third_page').show();
              $('#li_mh').attr('class','');
              $('#li_my').attr('class','');
              $('#li_st').attr('class','');
              $('#li_etc').attr('class','active');
            })
          </script>
