<style>
.section {
    padding-top: 60px;
    padding-bottom: 100px;
}
</style>

        <!-- ========== Page Title ========== -->

        <header class="page-title pt-large pt-dark pt-plax-lg-dark" data-stellar-background-ratio="0.4">
          <div class="container">
              <div class="row">

                <div class="col-sm-6">
                  <h1>F.A.Q.</h1>
                  <span class="subheading">자주 묻는 질문입니다.</span>
                </div>
              </div>

            </div>
        </header>

        <!-- ========== FAQ Layout - 1 ========== -->

        <section class="container section">

          <div class="row ws-s">

            <!-- FAQ Group 1 -->
            <div class="col-md-6">
              <div class="faq-group-header ws-s">
                <h4 class="mb-30">일반적인 질문</h4>
                <p>고소에 대한 일반적인 질문입니다.</p>
              </div>
              
              <!-- FAQ Accordion -->
              <div class="panel-group accordions-1 ws-s" id="faq-accordion-1" role="tablist" aria-multiselectable="true">

                <!-- Item 1 -->
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="faq-1-h-1">
                    <h4 class="panel-title">
                      <span class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion-1" href="#faq-1-collapse-1" aria-expanded="false" aria-controls="faq-1-collapse-1">
                        사이버 모욕죄와 사이버 명예훼손의 공통점과 차이점은? 
                      </span>
                    </h4>
                  </div>
                  <div id="faq-1-collapse-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-1-h-1">
                    <div class="panel-body">
공통점으로는 두 사항 모두 고소인의 지인이 관련 내용을 확인할 가능성이 있어
고소인이 수치심을 느낄 때 성립한다는 것이다. 차이점은 사이버 모욕 같은 경우,
욕설이 주가 되어 상대방을 비난할 때인데, 비난 내용이 구체적이지 않더라도 성립한다.
다음으로 사이버 명예훼손은 욕설이 없더라도 고소인에 대한 내용을
구체적으로 게시할 때 해당 내용이 사실과 무관하더라도 성립한다.
                    </div>
                  </div>
                </div><!-- / .panel -->
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="faq-1-h-2">
                    <h4 class="panel-title">
                      <span class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion-1" href="#faq-1-collapse-2" aria-expanded="false" aria-controls="faq-1-collapse-2">
                        사건이 접수된 후 어떤 과정을 거치게 되나요?
                      </span>
                    </h4>
                  </div>
                  <div id="faq-1-collapse-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-1-h-2">
                    <div class="panel-body">
사건이 접수되면 피고소인을 호출합니다. 만약 집이 멀 경우 피고소인이 있는 곳으로 사건이 이송됩니다.
피고소인이 확정되어야만 이송이 가능하며, 고소된 아이디의 명의와 실제 사용자가 다를 경우
이를 확인하는 과정이 추가됩니다. 
피고소인이 확정된 후 조사 내용에 따라 수사관이 기소 여부를 결정하며
기소가 결정될 경우 검찰로 넘어갑니다. 이후 검사와 판사를 거쳐 최종적으로 형이 결정됩니다.
                    </div>
                  </div>
                </div><!-- / .panel -->

                <!-- Item 2 -->
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="faq-1-h-3">
                    <h4 class="panel-title">
                      <span class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion-1" href="#faq-1-collapse-3" aria-expanded="false" aria-controls="faq-1-collapse-3">
                        고소하려면 상대방에게 먼저 알려야 하나요?
                      </span>
                    </h4>
                  </div>
                  <div id="faq-1-collapse-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-1-h-3">
                    <div class="panel-body">
                    고소는 고소인이 고소할 사실을 고소장에 육하원칙에 따라 간략히 기재하여 경찰서나 검찰청에 제출하는 방법으로 할 수 있습니다. 
                    고소를 당하는 사람(피고소인)에게 미리 알릴 필요는 없습니다.
                    </div>
                  </div>
                </div><!-- / .panel -->

                <!-- Item 3 -->
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="faq-1-h-4">
                    <h4 class="panel-title">
                      <span class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion-1" href="#faq-1-collapse-4" aria-expanded="false" aria-controls="faq-1-collapse-4">
                        고소 취하서 어떻게 작성하나요?
                      </span>
                    </h4>
                  </div>
                  <div id="faq-1-collapse-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-1-h-4">
                    <div class="panel-body">
                      자필로 쓰든 워드로 타자쳐서 출력을 하든 
중요한 점은 고소취하서를 작성한 사람이 고소인인 귀하라는 점을 검찰에서 인식할 수 있어야 한다는 것입니다.

양식 따위가 중요한 일이 아닙니다.

취하서의 내용과 작성자가 진정한지 여부가 중요하죠.
--고소 취하서 양식--
                      </div>
                  </div>
                </div><!-- / .panel -->
              </div><!-- / .panel-group .accordion-1 -->

              <hr class="mb-sm-50">
            </div><!-- / .col-md-6 -->


            <!-- FAQ Group 2 -->
            <div class="col-md-6">
              <div class="faq-group-header ws-s">
                <h4 class="mb-30">온라인 게임 내 모욕</h4>
                <p>게임 내에서 발생하는 사이버 모욕죄와 관련한 질문입니다.</p>
              </div>
              
              <!-- FAQ Accordion -->
              <div class="panel-group ws-s accordions-1" id="faq-accordion-2" role="tablist" aria-multiselectable="true">

                <!-- Item 1 -->
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="faq-2-h-1">
                    <h4 class="panel-title">
                      <span class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion-2" href="#faq-2-collapse-1" aria-expanded="false" aria-controls="faq-2-collapse-1">
                        1:1(귓속말, 쪽지 등) 욕설 고소가 되나요?
                      </span>
                    </h4>
                  </div>
                  <div id="faq-2-collapse-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-2-h-1">
                    <div class="panel-body">
                    모욕죄는 공연하게 사람을 모욕함으로써 성립하는 범죄로써 1:1 대화만으로는 죄가 성립하기 어렵고 
                    모욕죄가 성립하기 위해서는 공연성이라는 것이 필요합니다.
공연성은 다수(2인 이상)가 인지할 수 있는 상황이나 상태를 의미합니다.
 실제 인지를 했는지 안 했는지는 중요하지 않고 그 가능성만 있으면 공연성의 조건을 충족하게 됩니다.
                     </div>
                  </div>
                </div><!-- / .panel -->

                <!-- Item 2 -->
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="faq-2-h-2">
                    <h4 class="panel-title">
                      <span class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion-2" href="#faq-2-collapse-2" aria-expanded="false" aria-controls="faq-2-collapse-2">
                        상대방이 저의 닉네임을 지칭하여 욕을 하였는데 고소가 되나요?
                      </span>
                    </h4>
                  </div>
                  <div id="faq-2-collapse-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-2-h-2">
                    <div class="panel-body">
                        닉네임만 지칭한 경우 고소가 성립되기 어렵습니다.
                        해당 닉네임을 통해 닉네임 사용자가 누구인지 알 수 없기 때문입니다.
                        다만 지인들이 해당 채팅방이나 게임 내에 있을 경우, 특정성이 성립되기 때문에 
                        고소 요건이 성립할 수 있습니다.
                        다음은 해당 판례관련 기사링크입니다.
                        http://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=102&oid=001&aid=0007483703
                    </div>
                  </div>
                </div><!-- / .panel -->

                <!-- Item 3 -->
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="faq-2-h-3">
                    <h4 class="panel-title">
                      <span class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion-2" href="#faq-2-collapse-3" aria-expanded="false" aria-controls="faq-2-collapse-3">
                        Example question in acordion ?
                      </span>
                    </h4>
                  </div>
                  <div id="faq-2-collapse-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-2-h-3">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div><!-- / .panel -->

                <!-- Item 4 -->
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="faq-2-h-4">
                    <h4 class="panel-title">
                      <span class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion-2" href="#faq-2-collapse-4" aria-expanded="false" aria-controls="faq-2-collapse-4">
                        Example question in acordion ?
                      </span>
                    </h4>
                  </div>
                  <div id="faq-2-collapse-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-2-h-4">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div><!-- / .panel -->

              </div><!-- / .panel-group .accordion-1 -->

              <hr>
            </div><!-- / .col-md-6 -->
          </div><!-- / .row -->

          <div class="row">


            <!-- FAQ Group 3 -->
            <div class="col-md-6">
              <div class="faq-group-header ws-s">
                <h4 class="mb-30">SNS 및 인터넷 커뮤니티 관련 고소 질문들</h4>
                <p>SNS(페이스북, 트위터, 인스타그램 등)나 인터넷 커뮤니티(네이버 카페, 게임 커뮤니티 등)에서 발생하는 
                    사이버 모욕죄 관련 질문들입니다.
                </p>
              </div>
              
              <!-- FAQ Accordion -->
              <div class="panel-group accordions-1 ws-s" id="faq-accordion-3" role="tablist" aria-multiselectable="true">

                <!-- Item 1 -->
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="faq-3-h-1">
                    <h4 class="panel-title">
                      <span class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion-3" href="#faq-3-collapse-1" aria-expanded="false" aria-controls="faq-3-collapse-1">
                        인터넷 상 신상유포 고소가 되나요?
                      </span>
                    </h4>
                  </div>
                  <div id="faq-3-collapse-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-3-h-1">
                    <div class="panel-body">
                      <pre>Q: 네이버 카페에서 다른 유저와 다툼이 생겼었습니다.
근데 상대방이 검색을 통하여 저의 신상(이름, 휴대폰 번호)을 찾아내었고,
해당 카페에 저의 신상을 유포하였습니다.
이럴 경우 고소가 가능할까요?</pre>
                      </div>
                    <div class="panel-body">
                      질문자님의 상황이라면 명예훼손 혹은 개인정보 유포로 고소 하실수 있습니다. 
                      당시 상황을 입증할 수 있는 자료들을 구비하시기 바랍니다. 
                      
                      </div>
                  </div>
                </div><!-- / .panel -->

                <!-- Item 2 -->
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="faq-3-h-2">
                    <h4 class="panel-title">
                      <span class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion-3" href="#faq-3-collapse-2" aria-expanded="false" aria-controls="faq-3-collapse-2">
                        개인 페이스북에서의 욕설
                      </span>
                    </h4>
                  </div>
                  <div id="faq-3-collapse-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-3-h-2">
                      <div class="panel-body">
                      <pre>Q: 제가 요즘 힘든일이 있어서 
저의 개인 페이스북에 반복적으로 욕을 게시하였습니다.
특정인을 지칭하지는 않았고, x발 x같네 등 푸념식으로 글을 게시하였습니다.
근데 어떤 친구를 맺은 분이 저를 정보통신망법으로 고소한다고 합니다.
이런 경우에도 사이버 모욕죄로 고소가 가능한가요?</pre>
                      </div>
                    <div class="panel-body">
                      고소는 되겠지만 처벌이 될지는 의문입니다.
                      사이버 모욕죄가 성립되기 위해서는 특정성이 성립하여야 하는데,
                      질문하신 분에 따르면 누구도 특정하지 않았으므로 
                      죄가 성립되지 않을 것으로 보입니다.
                      </div>
                  </div>
                </div><!-- / .panel -->

                <!-- Item 3 -->
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="faq-3-h-3">
                    <h4 class="panel-title">
                      <span class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion-3" href="#faq-3-collapse-3" aria-expanded="false" aria-controls="faq-3-collapse-3">
                        Example question in acordion ?
                      </span>
                    </h4>
                  </div>
                  <div id="faq-3-collapse-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-3-h-3">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div><!-- / .panel -->

                <!-- Item 4 -->
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="faq-3-h-4">
                    <h4 class="panel-title">
                      <span class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion-3" href="#faq-3-collapse-4" aria-expanded="false" aria-controls="faq-3-collapse-4">
                        Example question in acordion ?
                      </span>
                    </h4>
                  </div>
                  <div id="faq-3-collapse-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-3-h-4">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div><!-- / .panel -->

              </div><!-- / .panel-group .accordion-1 -->
            </div><!-- / .col-md-6 -->


            <!-- FAQ Group 4 -->
            <div class="col-md-6">
              <div class="faq-group-header ws-s">
                <h4 class="mb-30">고소미.kr 이용문의</h4>
                <p>고소미.kr 이용 전반에 대한 자주 묻는 질문입니다.</p>
              </div>
              
              <!-- FAQ Accordion -->
              <div class="panel-group accordions-1" id="faq-accordion-4" role="tablist" aria-multiselectable="true">

                <!-- Item 1 -->
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="faq-4-h-1">
                    <h4 class="panel-title">
                      <span class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion-4" href="#faq-4-collapse-1" aria-expanded="false" aria-controls="faq-4-collapse-1">
                        고소미 접수 이후에는 사건이 어떻게 진행 되나요?
                      </span>
                    </h4>
                  </div>
                  <div id="faq-4-collapse-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-4-h-1">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                    </div>
                  </div>
                </div><!-- / .panel -->

                <!-- Item 2 -->
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="faq-4-h-2">
                    <h4 class="panel-title">
                      <span class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion-4" href="#faq-4-collapse-2" aria-expanded="false" aria-controls="faq-4-collapse-2">
                        고소미 접수 비용은 어떻게 산정된 것인가요?
                      </span>
                    </h4>
                  </div>
                  <div id="faq-4-collapse-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-4-h-2">
                    <div class="panel-body">
                    
                    </div>
                  </div>
                </div><!-- / .panel -->

                <!-- Item 3 -->
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="faq-4-h-3">
                    <h4 class="panel-title">
                      <span class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion-4" href="#faq-4-collapse-3" aria-expanded="false" aria-controls="faq-4-collapse-3">
                        실제로 고소장이 접수되나요?
                      </span>
                    </h4>
                  </div>
                  <div id="faq-4-collapse-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-4-h-3">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div><!-- / .panel -->

                <!-- Item 4 -->
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="faq-4-h-4">
                    <h4 class="panel-title">
                      <span class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion-4" href="#faq-4-collapse-4" aria-expanded="false" aria-controls="faq-4-collapse-4">
                        고소미 접수 이후에는 취소할 수 없나요?
                      </span>
                    </h4>
                  </div>
                  <div id="faq-4-collapse-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-4-h-4">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div><!-- / .panel -->
                
              </div><!-- / .panel-group .accordion-1 -->
            </div><!-- / .col-md-6 -->
          </div><!-- / .row -->
        </section><!-- / .container -->