<!-- ========== Page Title ========== -->
<header style="background:url(http://ademkliniek.eu/wp-content/uploads/2015/04/consultation1.jpg) no-repeat center center;
background-size:cover;
background-position:0% 50%" class="page-title pt-large pt-dark pt-plax-lg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12" style="text-align:center">
          <a style="cursor:pointer"><h1 class="lead" style="font-family:'Nanum Myeongjo'">스스로 해결하기</h1></a>
        </div>
      </div>
    </div>
</header>
<!-- ========== Features - Cards ========== -->

<div class="gray-bg">
<header class="sec-heading" style="padding-top: 60px;margin-bottom:0px">
        <p class="sub" style="margin-bottom:0px;color:#111111;padding: 0 15px;line-height:1.5">
          고소미닷컴에서는 간단한 사안의 경우<br> 스스로 해결할 수 있는 편리한 툴을 제공하고 있습니다.
        </p>
        <span class="subheading"></span>
</header>
  <section class="container ft-cards">

    <div class="row section mb_side_pd_0" style="padding-top:60px">


<style>
 #community span {
  background: rgba(17,17,17,0.5);
 }
 #community:hover span {
   -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  border: 1px solid #cccccc;
  background: rgba(119,119,119,0.5);
  color: #fff;
 }
 #sns span {
  background: rgba(17,17,17,0.5);
 }
 #sns:hover span {
 -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  border: 1px solid #cccccc;
  background: rgba(119,119,119,0.5);
  color: #fff;
 }
</style>



<!-- Item 2 -->
      <div class="col-md-6 mb-sm-50 container section ft-centered" style="padding-top:0px">


        <div class="col-md-12 col-sm-12 mb-sm-50 ft-item ft-dark-spin wow zoomIn" style="margin-bottom:0px" data-wow-duration=".6s" data-wow-delay=".3s">
          <span style="font-size:60px;padding-left:3px;"class="fa fa-balance-scale"></span>

          <h2 class="category_title">사이버 범죄 유형</h2>
          <hr>
          <br>
          <p class="category_sub">명예훼손 및 모욕죄에 대한 정보</p>
          <br>
          <hr>
          <a href="/main/condition" style="text-align: center;width:100%;margin-top:20px;color: white;padding-top:8px" class="btn">선택</a>
        </div>
      </div>



      <!-- Item 3 -->
      <div class="col-md-6 mb-sm-50 container section ft-centered" style="padding-top:0px">
        <div class="col-md-12 col-sm-12 mb-sm-50 ft-item ft-dark-spin wow zoomIn" style="margin-bottom:0px" data-wow-duration=".6s" data-wow-delay=".3s">
          <span style="font-size:60px"class="fa fa-magic"></span>

          <h2 class="category_title">고소장 자동 완성</h2>
          <hr>
          <br>
          <p class="category_sub">간단한 사안일 경우 해결</p>
          <br>
          <hr>
          <a href="/sue/category" style="text-align: center;width:100%;margin-top:20px;color: white;padding-top:8px" class="btn">선택</a>
        </div>



          </div>



  </section>
</div><!-- / .gray-bg -->

  </section>

</div>
