
        
       
        <!-- ========== Page Title ========== -->

        <header style="background:url(<%= image_url('log.jpg') %>);background-size:cover;background-position:0% 50%" class="page-title pt-large pt-dark pt-plax-lg-dark">
            <div class="container">
              <div class="row">

                <div class="col-md-12" style="text-align:center">
                    <h1 class="lead" style="font-family:'Nanum Myeongjo'">로그인/회원가입</h1>
                  <span class="subheading">건전한 사이버 문화를 지향합니다</span>
                </div>
                
              </div>

            </div>
        </header>
        
<!-- #container -->
<script>
  
  $(function () {

    $(".tab_content").hide();
    $(".tab_content:first").show();

    $("div.tabs div a").click(function () {
        $("div.tabs div a").parent().removeClass("active").css("color", "#333");
        //$(this).addClass("active").css({"color": "darkred","font-weight": "bolder"});
        $(this).parent().addClass("active").css("color", "darkred");
        $(".tab_content").hide()
        var activeTab = $(this).attr("rel");
        $("#" + activeTab).fadeIn()
    });
});


</script>
<style>
.tab_content {
    display: none;
    margin-top:30px;
}

.tabs div {
  border-top: 1px solid #eee;
  background: #EFEFEF;
  text-align: center;
  padding: 30px 50px;
}
.tabs div.active{
  border-left: 1px solid #eee;
  border-top: 1px solid #eee;
  background:#fff;
  text-align: center;
  padding: 30px 50px;
  border-right: 1px solid #eee;
}
</style>



        <!-- ========== Sign_up Form ========== -->

        <div class="login-2" style="background:#e8e8e8;">
          <div class="bg-overlay">
            
            <div class="container">
              <div class="row ws-m">
                <div class="col-md-offset-3 col-md-6" style="margin-top:60px">

                  <div class="form-wrapper" style="padding-left:0px;padding-right:0px">
                    <div class="tabs">
                      <div class="col-md-6 active" style="">
                        <a class="sub" style="width: 100%; color: rgb(51, 51, 51);cursor:pointer;font-weight:500" rel="tab1"><i class="fa fa-sign-in"></i>로그인</a>
                      </div>
                      <div class="col-md-6" style="">
                        <a class="sub" style="width: 100%; color: rgb(51, 51, 51);cursor:pointer;font-weight:500" rel="tab2" class=""><i class="fa fa-user-plus"></i>회원가입</a>
                      </div>
                    </div>
                    <div class="form-content" style="margin-top: 0px;padding-right:50px;padding-left:50px">
                      
                      <div id="tab1" class="tab_content">
                      <hr style="margin-bottom: 15px;">
                      <h3 class="form-header" style="margin-bottom:0px">로그인</h3>
                      <hr style="margin-bottom: 15px;margin-top:15px">
                      <form action="/users/sign_in" accept-charset="UTF-8" method="post">
                        <input name="utf8" type="hidden" value="✓">
                        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
					
                        <!-- Email -->
                        <div class="form-group">
                          <label for="username-login-2">이메일</label>
                          <input autofocus="autofocus" type="email" id="user_email" name="user[email]" class="form-control" placeholder="이메일을 입력하세요" required>
                        </div>
                        
                        
                        <!-- Password -->
                        <div class="form-group">
                          <label for="pass-login-2">비밀번호</label>
                          <input autocomplete="off" type="password" name="user[password]" class="form-control" placeholder="비밀번호를 입력하세요" required>
                        </div>
                        <!-- Submit -->
                        <input style="width:100%;margin-top:30px"type="submit" value="로그인" class="btn">
                      
                      </form>
                      <span style="margin-top:20px;margin-bottom:0px"class="cards-header">또는</span>
                     </div><!-- change -->  
                     
                     
                     <!-- 회원가입 -->
                     <div id="tab2" class="tab_content">
                      <hr style="margin-bottom: 15px;">
                      <h3 style="margin-bottom:0px" class="form-header">회원가입</h3>
                      <hr style="margin-bottom: 15px;margin-top:15px">
                        <form action="/users" accept-charset="UTF-8" method="post">
                        <input name="utf8" type="hidden" value="&#x2713;" />
                        <input type="hidden" name="authenticity_token" value="ig8ScWHy1/AvM/1bSDrPRrZmEaWa0jVPDcRJl9bY1qcVCjq4QwThB/W5gLC10pmrdCyJ3s135d5knvhUHqOF4w==" />

                        <!-- Email -->
                        <div class="form-group">
                          <label for="user_email">이메일</label>
                          <input autofocus="autofocus" type="email" name="user[email]" id="user_email" class="form-control" placeholder="이메일을 입력하세요" required>
                          
                        </div>
                        <!-- Password -->
                        <div class="form-group">
                          <label for="user_nickname">닉네임</label>
                          <input autocomplete="off" type="text" name="user[nickname]" id="user_nickname" class="form-control" placeholder="닉네임을 입력해주세요" required>
                        </div>
                        <!-- Password -->
                        <div class="form-group">
                          <label for="user_password">비밀번호<small style="color:gray">(8자 이상으로 적어주세요)</small></label>
                          <input autocomplete="off" type="password" name="user[password]" id="user_password" class="form-control" placeholder="비밀번호를 입력하세요" required>
                        </div>
                        <!-- Password_Confirm -->
                        <div class="form-group">
                          <label for="user_password_confirmation">비밀번호 확인</label>
                          <input type="password" autocomplete="off" type="password" name="user[password_confirmation]" id="user_password_confirmation" class="form-control" placeholder="비밀번호를 입력하세요" onkeyup="checkPass(); return false;" required>
                          <span id="confirmMessage" class="confirmMessage"></span>
                          
                        </div>                        
                        <!-- Submit -->
                        <input style="width:100%;margin-top:30" id="go_register" type="submit" value="가입하기" class="btn">
                      
                      </form>
                    
                    <span class="cards-header">또는</span> 
                    </div><!-- / .form-content -->
                    <!-- Social Signup -->
                   <div class="social-signup">
                      <a style="width:100%" href="/users/auth/facebook" class="social-card fb-card">
                        <span class="sc-lead">Facebook</span>
                        <span class="sc-info">페이스북으로 가입하기</span>
                        <i class="fa fa-facebook"></i>
                      </a>
                    </div><!-- / .social-signup -->
                   
                   
                   
                   
                    
                  </div><!-- / .form-wrapper -->

                  
                  <!--<a href="#" class="email-signup pull-right">Signup with email</a>-->


                </div><!-- / .col-md-6 -->
              </div><!-- / .row -->
            </div><!-- / .container -->

          </div><!-- / .bg-overlay -->
        </div><!-- / .bg-login -->



<!--<div class="container">
<div class="row">
<div class="col-md-2">
</div>
<div class="col-md-8" style="margin-top:2em; margin-bottom:5em">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">회원 로그인</h3>
  </div>
  <div class="panel-body">
				<form class="new_user cd-form" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" />
				<input type="hidden" name="authenticity_token" value="D8pigBRc3WQV521Oo1QTBTr7inDTDXENIciL8rYQrA9ML/1NPRV30XKRO44nsBV9YGv/8SHS462IeQfVMhcXHw==" />
					<p class="fieldset" style="margin-top: 0px;">
						<label class="image-replace cd-email" for="user_email">E-mail</label>
						<input autofocus="autofocus" class="full-width has-padding has-border" id="user_email" name="user[email]" type="email" placeholder="E-mail" required>
					</p>
					
					<p class="fieldset">
						<label class="image-replace cd-password" for="user_password">Password</label>
						<input autocomplete="off" class="full-width has-padding has-border" id="user_password" type="password" name="user[password]" placeholder="Password">
						<a href="#0" class="hide-password">Hide</a>
						<span class="cd-error-message">Error message here!</span>
					</p>
					
					<p class="fieldset">
						<input name="user[remember_me]" type="hidden" value="0" />
						<input type="checkbox" id="remember-me" value="1" name="user[remember_me]" id="user_remember_me">
						<label for="user_remember_me">Remember me</label>
					</p>
					<div class="col-md-12" style="text-align:center;padding-left: 0px;padding-right: 0px;">
						<button style="background-color: #2f889a" type="submit" class="btn btn-primary btn-lg btn-block">Login</button><br />
						</div>
						
				</form>
						<div class="col-md-12" style="text-align:center;padding-left:28px;padding-right:28px">
						<a href="/users/auth/facebook" style="text-decoration:none"><button style="background-color: #285E8E;"type="button" class="btn btn-primary btn-lg btn-block">Sign in with Facebook</button></a><br />
						</div>
				<script> 
				  $('#gogogo').click(function() {
				    document.forms['new_user'].submit();
				  });
				</script>
				<div>
				<a href="/users/password/new">Forgot your password?</a><br />
				</div>

  </div>
</div>
</div>
<div class="col-md-2">
</div>
</div>
</div>


-->
        
        <script>

       function checkPass(){
    //Store the password field objects into variables ...
    var user_password = document.getElementById('user_password');
    var user_password_confirmation = document.getElementById('user_password_confirmation');
    //Store the Confimation Message Object ...
    var message = document.getElementById('confirmMessage');
    //Set the colors we will be using ...
    var goodColor = "#66cc66";
    var badColor = "#ff6666";
    //Compare the values in the password field 
    //and the confirmation field
    if(user_password.value == user_password_confirmation.value){
        //The passwords match. 
        //Set the color to the good color and inform
        //the user that they have entered the correct password 
        user_password_confirmation.style.backgroundColor = goodColor;
        message.style.color = goodColor;
        message.innerHTML = "비밀번호가 일치합니다!"
        }
        
    else{
        //The passwords do not match.
        //Set the color to the bad color and
        //notify the user.
        user_password_confirmation.style.backgroundColor = badColor;
        message.style.color = badColor;
        message.innerHTML = "비밀번호가 일치하지 않습니다!"
        
    }
}  

</script>
   
   <script>
     $('#go_register').on('click', function(){
       if ( ( $('#user_password').val() !==  $('#user_password_confirmation').val() ) ) {
         alert('비밀번호가 일치하지 않습니다');
         return false;
       }
       else if ( $('#user_password').val().length < 8 ) {
         alert('비밀번호는 8자 이상이여야 합니다');
         return false;
       }
     })
   </script>