
        
        
        
        
        <!-- ========== Page Title ========== -->

        <header style="background:url(http://ademkliniek.eu/wp-content/uploads/2015/04/consultation1.jpg);background-size:cover;background-position:0% 50%" class="page-title pt-large pt-dark pt-plax-lg-dark">
            <div class="container">
              <div class="row">

                <div class="col-md-12" style="text-align:center">
                  <a style="cursor:pointer" id="qna_go"><h1 class="title" style="font-family:'Nanum Myeongjo'">고소미 작성하기</h1></a>
                  <span class="subheading">쉽고 빠르게, 그리고 정확하게</span>
                </div>
                
              </div>

            </div>
        </header>
        
        
        
        
        <!-- ========== Features - Cards ========== -->

        <div class="gray-bg">
        <header class="sec-heading" style="padding-top: 60px;margin-bottom:0px">
                <h2 class="lead" style="font-weight:500">신고하실 분야를 선택하세요</h2>
                <span class="subheading"></span>
        </header>
          <section class="container ft-cards">
            
            <div class="row section" style="padding-top:60px">
            
              <!-- Item 1 -->
              <div class="col-md-6 mb-sm-50 container section ft-centered" style="padding-top:0px">
                
                
                <div class="col-md-12 col-sm-12 mb-sm-50 ft-item ft-dark-spin wow zoomIn" style="margin-bottom:0px" data-wow-duration=".6s" data-wow-delay=".3s">
                  <span style="font-size:65px" class="linea-basic-keyboard"></span>
                 
                  <h2>사이버 모욕</h2>
                  <hr>
                  <br>
                  <p>게임,커뮤니티,SNS 내의 분쟁</p>
                  <br>
                  <hr>
                  <input type="text" name="choice" value="game" style="display:none">
        			    <a href="category_cm" style="text-align: center;width:100%;margin-top:20px;color: white;padding-top:8px" class="btn">선택</a>
                </div>
            
            
            
                  </div>
        <style>
         #community span {
          background: rgba(17,17,17,0.5); 
         }
         #community:hover span {
           -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
          border: 1px solid #cccccc;
          background: rgba(119,119,119,0.5);
          color: #fff;
         }
         #sns span {
          background: rgba(17,17,17,0.5); 
         }
         #sns:hover span {
         -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
          border: 1px solid #cccccc;
          background: rgba(119,119,119,0.5);
          color: #fff;
         }
        
        </style>
              <!-- Item 2 -->
              <div class="col-md-6 mb-sm-50 container section ft-centered" style="padding-top:0px">
                
                
                <div class="col-md-12 col-sm-12 mb-sm-50 ft-item ft-dark-spin wow zoomIn" style="margin-bottom:0px" data-wow-duration=".6s" data-wow-delay=".3s">
                  <span style="font-size:60px"class="linea-ecommerce-banknotes"></span>
                  
                  <h2>임금체불</h2>
                  <hr>
                  <br>
                  <p>게임 내의 분쟁</p>
                  <br>
                  <hr>
                  <input type="text" name="choice" value="game" style="display:none">
        			    <a href="category_pm" style="text-align: center;width:100%;margin-top:20px;color: white;padding-top:8px" class="btn">선택</a>
                </div>
            
             
            
                  </div>
            
           
          </section>
        </div><!-- / .gray-bg -->
        
		      </section>
		      
		    </div>
		  <script>
		  var cm = document.getElementById('cm');
		  var pm = document.getElementById('pm');
		  $('#cm').css({display:'none'});
		  $('#pm').css({display:'none'});
		  
		    $('#cm_choose').click(function(){
		      
		      $('#pm').css({display:'none'});
		      $('#cm').css({display:''});
		    })
		    
		    $('#pm_choose').click(function(){
		      $('#cm').css({display:'none'});
		      $('#pm').css({display:''});
		    })
		  </script>
		  
		  
		   <!-- 
                  et-wallet
                  linea-ecommerce-banknotes
                  linea-ecommerce-dollar
                  linea-ecommerce-receipt-won
                -->