  <!-- ========== Page Title ========== -->

  <header style="border-bottom: 2px solid gray;
background: url(http://shartlon.com/wp-content/uploads/2015/09/09059_412_5-7-2009.jpg) no-repeat center center;
background-size: cover ;
background-position: 0% 60%;" class="page-title pt-large pt-dark pt-plax-lg-dark">
    <div class="container">
        <div class="row">

          <div class="col-md-12" style="text-align:center">
            <a href="/qna/index"><h1 class="lead" style="font-family:'Nanum Myeongjo'">내용증명 신청하기</h1></a>
            <span class="sub"></span>
          </div>

        </div>

    </div>
  </header>


    <!-- ========== Portfolio ========== -->
      <div class="gray-bg">
        <div class="container portfolio-layout portfolio-columns-fw pricing-tables" style="margin-top:0px;">
            <div class="row ft-steps-numbers condition_tip " style="padding-top:60px;padding-bottom:60px">
              <div class="col-md-6 col-md-offset-3 portfolio-item num_1" style="min-height:0px">
               <header class="sec-heading" style="margin-bottom:0px">
                 <div class="col-md-12 no-gap">
                   <h3 class="lead">내용증명</h3>
                   <ul class="list-unstyled numbering_list text-left">
                     <li><span><i class="fa fa-check-square-o"></i> 서면통지 위반</span> <br>
                       해고는 근로자에게 심각한 사안인 만큼 절차를 엄격히 따르게 되어 있다. 따라서 서면 통지의 원칙이 엄격하게 지켜지고 있습니다. 만약 서면 통지를 어긴 경우는 부당해고에 확실히 해당하게 됩니다.</li>
                     <li><span><i class="fa fa-check-square-o"></i> 정당한 절차를 위반한 해고</span><br>
                       취업규칙과 근무규칙에 해고절차와 규칙이 명시되어 있는 경우 이를 위반했을 때는 부당해고에 해당하게 됩니다. </li>
                   </ul>
                 </div>
               </header>
              </div>
            </div><!-- .row -->

            <div class="row certificate" style="padding-bottom:60px">
              <div class="col-md-6 certificate_img">
                <%= image_tag 'http://www.anyaha.com/PEG/thumb_12695402459710.bmp' %>
              </div>
              <!-- Table 1 (featured) -->
              <div class="col-md-6">
                <div class="p-table pt-featured">

                  <!-- Star -->
                  <div class="banner">
                    <span class="star"><i class="fa fa-star"></i></span>
                  </div>

                  <!-- Header -->
                  <h4>Professional</h4>
                  <div class="price">
                    <span class="currency">&nbsp;</span>
                    <span class="value">11</span>
                    <span class="type">만원</span>
                  </div>
                  <p class="desc">Get the job done</p>
                  <hr>

                  <!-- Items -->
                  <ul class="p-items">
                    <li><b>50Gb Data</b> Storage</li>
                    <li><b>5 Domain</b> Name</li>
                    <li><b>Full</b> Access</li>
                    <li><b>2 Year</b> Licence</li>
                    <li><b>Free</b> Support</li>
                  </ul>
                   <hr>
                  <a href="/sue/certificate_apply" class="btn-ghost">신청하기</a>
                </div><!-- / .p-table -->
              </div><!-- / .col-md-4 -->

            </div><!-- / .row -->

        </div><!-- .tabs -->
    </div><!-- / .portfolio-columns-fw -->
  </div>
