<!-- ========== Page Title ========== -->
        <header id='aa5'style="background:url(http://ademkliniek.eu/wp-content/uploads/2015/04/consultation1.jpg);background-size:cover;background-position:0% 50%" class="page-title pt-large pt-dark pt-plax-lg-dark">
            <div class="container">
              <div class="row">

                <div class="col-md-12" style="text-align:center">
                  <h1 class="title" style="font-family:'Nanum Myeongjo'">고소미 접수가 완료되었습니다</h1>
                  <span class="subheading">내용을 확인하세요</span>
                </div>
                
              </div>

            </div>
        </header>
        <div class="container-fluid">
          <div class="row">
              <div class="col-md-2"  ></div>
              <div class="col-md-8"  >
              <table class="tbl_basic tbl_type_basic">
                <h1> 접수내역 </h1>
        				<tbody>
        					<tr class="fir">
        						<th>고소인</th> 
        						<td><%=@p.my_name %></td>
        					</tr>
        					<tr>
        						<th>피고소인</th> 
        						<td><%=@p.you_id %></td>
        					</tr>
        					
        										
        					<tr>
        						<th>분류</th> 
        						<td>인터넷 모욕</td>
        					</tr>	
        					
        				</tbody>
        			</table>
        	    </div>
        	    <div class="col-md-2"></div>
        	</div>
        	<div class="row" style="text-align:center;margin-top:15px;margin-bottom:60px">
        	  <div class="col-md-2"></div>
        	  <div class="col-md-8">
                <div style="margin-top:45px"class="col-md-4">
                  <img style="border:2px solid #ececec"class="img-circle" src="/assets/images/fb_logo.png" alt="Generic placeholder image" width="140" height="140">
                  <h2>내 페이지 </h2>
                  <p>사건 일정 관리 및 준비를 해보세요</p>
                  <p><a class="btn btn-default" href="/main/mypage" role="button" style="width:150px">바로가기 &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div style="margin-top:45px" class="col-md-4">
                  <img style="border:2px solid #ececec" class="img-circle" src="http://octaminox.com/wp/wp-content/uploads/2013/12/stress-e1347025475899.jpg" alt="Generic placeholder image" width="140" height="140">
                  <h2>고소미닷컴 변호사 소개</h2>
                  <p>접수 이후의 법률상황을 함께 고민해드립니다</p>
                  <p><a class="btn btn-default" href="#" role="button" style="width:150px">바로가기 &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div style="margin-top:45px" class="col-md-4">
                  <img style="border:2px solid #ececec" class="img-circle" src="http://ip1.kr/image/QNA.jpg" alt="Generic placeholder image" width="140" height="140">
                  <h2>Q&A 게시판</h2>
                  <p>접수부터 결과까지 궁금한 점을 물어봐주세요</p>
                  <p><a class="btn btn-default" href="#" role="button" style="width:150px">바로가기 &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
              </div>
              <div class="col-md-2"></div>
          </div>
      </div>