 <!--점보트론-->
 <div style='margin-bottom:20px'>
      <div class='col-md-12' style='height:50px;'>
      </div> 
      <div class='col-md-12 col-sm-12' style='z-index:5;position:absolute;height:200px;background-color:rgba(241, 196, 15,0.6);'>
      </div> 
      <div sytle='z-index:-10'> 
      <img src="/mainpic.jpeg" style="width:100%;height:150px">
      </div>
    </div>

    
    <!--컨텐츠-->
    <div class="container-fluid">
      <div class="row">
      
        <div class="col-md-10" id="aa">
        <div class="alert alert-warning" role="alert" style="margin-bottom: 0px;"><h3 style="margin-top: 0px; margin-bottom: 0px;">분류</h3>
          
          </div>
           <form class="form-horizontal" action="/house/right" enctype="multipart/form-data">
           <div class="form-group" style="margin-top:15px; padding-left:20px">
                      <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 인터넷 모욕/명예훼손
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 게임문제
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> sns
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4"> 기타
                      </label>
                      
                      
           </div>
          <div class="alert alert-info" role="alert"><h3 style="margin-top: 0px; margin-bottom: 0px;">신상정보</h3>
          
          </div>
          
          <div style="text-align:center">
             
             <div class="form-group">
                      
                      <label for="inputname3" class="col-sm-2 control-label">피고소인 ID 또는 닉네임</label>
                      <div class="col-sm-2">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="">
                      </div>
                      <div style="text-align:right">
                      <label for="inputname3" class="col-sm-2 control-label">사이트 주소</label>
                      <div class="col-sm-6">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="http://....">
                      </div>
                      </div>
           </div>
           <div>
             <hr style="border-top-width: 2px;">
           </div>
                    <div class="form-group">
                      <label for="inputname3" class="col-sm-2 control-label">고소인 성명</label>
                      <div class="col-sm-2">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputregnum3" class="col-sm-2 control-label">주민등록번호</label>
                      <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword3" placeholder="">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputaddress3" class="col-sm-2 control-label">주소</label>
                      <div class="col-sm-10">
                        <textarea type="text" rows="4" cols="50" class="form-control" id="inputPassword3" placeholder=""></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputregnum3" class="col-sm-2 control-label">주민등록번호</label>
                      <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword3" placeholder="">
                      </div>
                    </div>
                  <div class="form-group">
                    <label for="inputphone3" class="col-sm-2 control-label">휴대폰 번호</label>
                          
                    <div class="col-md-10" >
                          <div class="col-md-1" style="padding-left:0px">
                          
                              <select class="form-control" style="width:70px">
                                  <option>010</option>
                                  <option>011</option>
                              </select>
                             
                          </div>
                          
                          <div class="col-md-2"style="width:70px">
                             <input type="text"  style="width:70px" class="form-control">
                          </div>
                       <div class="col-md-2">
                             <input type="text"  style="width:70px ;margin-left:5px" class="form-control">
                       </div>
                    
                    </div>
   
          </div>
          
           
                 <div class="alert alert-success" role="alert" style="text-align:left"><h3 style="margin-top: 0px; margin-bottom: 0px;">소장 작성</h3>
          
          </div>
                 <div class="form-group">
                      <label for="inputaddress3" class="col-sm-2 control-label">고소 취지 및 이유</label>
                      <div class="col-sm-10">
                        <textarea type="text" rows="4" class="form-control" id="inputSuereason3" placeholder="">피고소인을 상대로 [모욕죄]로 고소하오니 처벌하여 주시기 바랍니다. 공연성과 특정성을 특히 강조합니다. 이 부분은 증거자료로도 첨부합니다. 게시글의 조회수가 3000에달했었고 지금까지도 계속 노출되고 있습니다. 다시한번 강력한 처벌을 원합니다.
                        </textarea>
                      </div>
                    </div>
                    
                 <div>
                   <hr style="border-top-width: 2px;">
                 </div>
                 
                 <div class="form-group">
                      <label for="inputaddress3" class="col-sm-2 control-label">범죄사실</label>
                      <div class="col-sm-10">
                        <textarea type="text" rows="15" class="form-control" id="inputSuereason3" placeholder="">[2015년 5월 12일 17시 경] 피고소인은 [페이스북에서(공연성이 드러난 부분, ex.인터넷 사이트)]에서 [“나 서울시 xx구 OO동에 사는 90년생 ooo인데, 욕 그만해라”(특정성이 드러난 부분, ex.신상공개)]라고 명시했음에도 불구하고하였음에도 불구하고,지속적으로 [“존못 ㅎㅌㅊ네”라고(모욕적 표현 ex.욕설)]발언 한 바에 대해서 고소하오니, 피고소인을 [모욕죄]로 처벌해주시기 바랍니다.
                        </textarea>
                      </div>
                    </div>
                 <div>
                   <hr style="border-top-width: 2px;">
                 </div>
                    <!--파일 업로드-->
                    <div class="form-group">
                      <label for="inputaddress3" class="col-sm-2 control-label">첨부파일</label>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file">
                                        Browse&hellip; <input type="file" multiple>
                                    </span>
                                </span>
                                <input type="text" style="width:500px" class="form-control" value="공연성이 드러난 부분을 올려주세요"disabled>
                            </div>
                           
        
                    </div>
                 <!-- 파일 업로드 끝-->
                    
          <div class="form-group col-md-12" style="text-align:center; left:150px ;margin-top:100px">
              <button type="submit" style="width:450px; height:50px;margin-right:50px" class="btn btn-default">미리보기</button>
              <button type="submit" style="width:450px; height:50px" class="btn btn-warning">고소미 만들기</button>
          </div>
        </form>   
    </div><!-- /.row -->
        
    </div>
   
  
  <div id='b1' class='col-md-4'>
    <div class="alert alert-warning" role="alert" style="margin-bottom: 0px;"><h3 style="margin-top: 0px; margin-bottom: 0px;">고소미 모범답안</h3></div>
    <textarea type="text" rows="4" class="form-control" id="inputSuereason3" placeholder="">피고소인을 상대로 [모욕죄]로 고소하오니 처벌하여 주시기 바랍니다. 공연성과 특정성을 특히 강조합니다. 이 부분은 증거자료로도 첨부합니다. 게시글의 조회수가 3000에달했었고 지금까지도 계속 노출되고 있습니다. 다시한번 강력한 처벌을 원합니다.</textarea>
  </div>
  <div id='b2' class='col-md-4'>
    <div class="alert alert-warning" role="alert" style="margin-bottom: 0px;"><h3 style="margin-top: 0px; margin-bottom: 0px;">성립요건</h3></div>
    <textarea type="text" rows="4" class="form-control" id="inputSuereason3" placeholder="">공연성, 특정성, 모욕사실이 모욕죄의 3가지 조건</textarea>
  </div>
  <div id='b3' class='col-md-4'>
    <div class="alert alert-warning" role="alert" style="margin-bottom: 0px;"><h3 style="margin-top: 0px; margin-bottom: 0px;">메모하기</h3></div>
    <textarea type="text" rows="4" class="form-control" id="inputSuereason3" placeholder="메모를 적어주세요."></textarea>
  </div>
  
 
  <div id='dd' class='col-md-4'></div> 

  <div class='col-md-2'>
            <ul class="list-group">
          <li id='c1' class="list-group-item">성립 요건</li>
          <li id='c2' class="list-group-item">우수 사례</li>
          <li id='c3' class="list-group-item">메모</li>
            </ul> 
  </div>

  


<!---------------------고소미 특허 1호--------------------------->

<script>
  var a=1
  $('#c1').click(function() {
    $('#aa')
        .closest('[class^="col-md"]')
        .toggleClass('col-md-9 col-md-6')
        .siblings('[class^="col-md"]')
        .removeClass('col-md-6')
        .addClass('col-md-9');
    if(a==1){
      a=0
      $('#b1')
        .css({display:'inline-block'});
      $('#dd')
        .css({width:'33%'}); 
    }
    else{
      a=1
      $('#b1')
        .css({display:'none'});
      $('#dd')
        .css({width:'0%'});
    }
  });
</script>
<script>
  var a=1
  $('#c2').click(function() {
    $('#aa')
        .closest('[class^="col-md"]')
        .toggleClass('col-md-9 col-md-6')
        .siblings('[class^="col-md"]')
        .removeClass('col-md-6')
        .addClass('col-md-9');
    if(a==1){
      a=0g
      $('#b2')
        .css({display:'inline-block'});
      $('#dd')
        .css({width:'33%'}); 
    }
    else{
      a=1
      $('#b2')
        .css({display:'none'});
      $('#dd')
        .css({width:'0%'});
    }
  });
</script>
<script>
  var a=1
  $('#c3').click(function() {
    $('#aa')
        .closest('[class^="col-md"]')
        .toggleClass('col-md-9 col-md-6')
        .siblings('[class^="col-md"]')
        .removeClass('col-md-6')
        .addClass('col-md-9');
    if(a==1){
      a=0
      $('#b3')
        .css({display:'inline-block'});
      $('#dd')
        .css({width:'33%'}); 
    }
    else{
      a=1
      $('#b3')
        .css({display:'none'});
      $('#dd')
        .css({width:'0%'});
    }
  });
</script>


<!--------------------------------------------------------->

  </div>
</div>
          <!--Pagnation-->
<script type="text/javascript"> 
  function botton(boxId) { 
    if(boxId.style.display == 'none') { 
    boxId.style.display = 'block'; 
    } 
    else if(boxId.style.display == 'block') { 
    boxId.style.display = 'none'; 
    } 
} 
</script> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    
    