<p>안녕하세요 <%= @resource.email %>님! 고소미닷컴입니다.</p>

<p>아래 링크를 클릭하여 비밀번호를 변경해주세요.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>만일 본인이 요청한 사실이 없을 경우 info@gosomi.com으로 연락주시기 바랍니다.</p>