<!-- Copyright -->
        <footer style="clear:both" id="aa4">
          <div class="copyright">
            <div class="container footer-social-links">
              <div class="row">
                <div class="col-md-12">
                <div class="col-md-3"></div>
                <ul style="padding-top:0px;padding-bottom:0px">
                  <div class="col-md-2">
                  <li><a data-toggle="modal" data-target="#Modal1" href="#">회사소개</a></li>
                  </div>
                  <div class="col-md-2">
                  <li><a data-toggle="modal" data-target="#query"href="#">제휴/광고문의</a></li>
                  </div>
                  <div class="col-md-2">
                  <li><a href="#">개인정보취급방침</a></li>
                  </div>
                </ul>
                <div class="col-md-3"></div>
                </div>
                <div class="col-md-6">
                  <small style="float:left;color:#D3D6DB;">&copy; 2015 고소미닷컴 <a class="no-style-link" href="http://themeforest.net/user/octarinethemes" target="_blank"></a></small>
                </div>

                <div class="col-md-6">
                  <small style="float:right;"><a style="color:#D3D6DB" href="#page-top" class="pull-right to-the-top">To the top<i class="fa fa-angle-up"></i></a></small>
                </div>
                <div style="color:#D3D6DB;"class="contact">
       	서울특별시 성북구 개운사길 86-2(안암동5가)<br>
       	사업자등록번호:739-20-00111
       	
        
                </div>

              </div><!-- / .row -->
            </div><!-- / .container -->
          </div><!-- / .copyright -->
        </footer><!-- / .footer-contact -->
        
        
        <!-- == Modals == -->
        
        <!-- Button trigger modal -->


<!-- Modal_CompanyInfo-->
<div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        저희 고소미는<br> 
        "올바른 인터넷 문화를 지향" 이라는 슬로건 아래 '인터넷 악플 및 명예훼손'을 근절하자는 취지로 설립되었습니다. 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
        
      </div>
    </div>
  </div>
</div>


<!-- Modal Query-->
<div class="modal fade" id="query" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">피드백&제휴문의</h4>
      </div>
      <div class="modal-body">
        <form action="/main/email_send" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label for="recipient-name" class="control-label">받는사람:</label>
            <input type="text" name="receiver" readonly value="info@gosomi.com" class="form-control" id="recipient-name">
          </div>
           <div class="form-group">
            <label for="recipient-name" class="control-label">보내는사람:</label>
            <input type="text" name="giver" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="control-label">제목:</label>
            <input type="text" name="title" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label">내용:</label>
            <textarea name="contents" class="form-control" id="message-text"></textarea>
          </div>
        
      </div>
              
      <div class="modal-footer">
        
        <button type="submit" class="btn btn-primary">보내기</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
		</form>
      </div>
    </div>
  </div>
</div>


        
         <!-- ========== Scripts ========== -->
        
        <script src="/assets/js/vendor/jquery-2.1.4.min.js"></script>
        <script src="/assets/js/vendor/google-fonts.js"></script>
        <script src="/assets/js/vendor/jquery.easing.js"></script>
        <script src="/assets/js/vendor/jquery.waypoints.min.js"></script>
        <script src="/assets/js/vendor/bootstrap.min.js"></script>
        <script src="/assets/js/vendor/bootstrap-hover-dropdown.min.js"></script>
        <script src="/assets/js/vendor/smoothscroll.js"></script>
        <script src="/assets/js/vendor/jquery.localScroll.min.js"></script>
        <script src="/assets/js/vendor/jquery.scrollTo.min.js"></script>
        <script src="/assets/js/vendor/jquery.stellar.min.js"></script>
        <script src="/assets/js/vendor/jquery.parallax.js"></script>
        <script src="/assets/js/vendor/slick.min.js"></script>
        <script src="/assets/js/vendor/jquery.easypiechart.min.js"></script>
        <script src="/assets/js/vendor/countup.min.js"></script>
        <script src="/assets/js/vendor/isotope.min.js"></script>
        <script src="/assets/js/vendor/jquery.magnific-popup.min.js"></script>
        <script src="/assets/js/vendor/wow.min.js"></script>
        <script src="/assets/js/vendor/jquery.mb.YTPlayer.min.js"></script>


        <!-- Google Maps -->
        <!--<script src="/assets/js/gmap.js"></script>-->
        <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOcd7o0W0r846FC_GoHSK56xeAvP8fV4s"></script>-->

        <!-- Definity JS -->
        <script src="/assets/js/main.js"></script>
</body>
</html>
