<!DOCTYPE html>
<html class="no-js" lang="ko">
<head>
  
  <title>고소미닷컴</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>고소미닷컴 </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/favicon.ico" />
        
        <!-- Bootstrap -->
        <link rel="stylesheet" href="/assets/styles/vendor/bootstrap.min.css">
        <!-- Fonts -->
        
        <link rel="stylesheet" href="/assets/fonts/et-lineicons/css/style.css">
        <link rel="stylesheet" href="/assets/fonts/linea-font/css/linea-font.css">
        <link rel="stylesheet" href="/assets/fonts/fontawesome/css/font-awesome.min.css">
        <!-- Slider -->
        <link rel="stylesheet" href="/assets/styles/vendor/slick.css">
        <!-- Lightbox -->
        <link rel="stylesheet" href="/assets/styles/vendor/magnific-popup.css">
        <!-- Animate.css -->
        <link rel="stylesheet" href="/assets/styles/vendor/animate.css">
        <!-- BG Video -->
        <link rel="stylesheet" href="/assets/styles/vendor/jquery.mb.YTPlayer.min.css">


        <!-- Definity CSS -->
        <link rel="stylesheet" href="/assets/styles/main_qna.css">
        <link rel="stylesheet" href="/assets/styles/responsive.css">

        <!-- JS -->
        <script src="/assets/js/vendor/modernizr-2.8.3.min.js"></script>
        <!-- Image Upload -->
        <script src="/js/infobox.js"></script>
        <script src="/js/jquery-2.1.1.min.js"></script>
        <script src="/js/bootstrap.js"></script>
        <!-- end -->
        

<style type="text/css">

/*
This was made by João Sardinha
Visit me at http://johnsardine.com/

The table style doesnt contain images, it contains gradients for browsers who support them as well as round corners and drop shadows.

It has been tested in all major browsers.

This table style is based on Simple Little Table By Orman Clark,
you can download a PSD version of this at his website, PremiumPixels.
http://www.premiumpixels.com/simple-little-table-psd/

PLEASE CONTINUE READING AS THIS CONTAINS IMPORTANT NOTES

*/

/*
Im reseting this style for optimal view using Eric Meyer's CSS Reset - http://meyerweb.com/eric/tools/css/reset/

/*------------------------------------------------------------------ */

/*This is not important*/
/*body{
	font-family:Arial, Helvetica, sans-serif;
	background: url(background.jpg);
	margin:0 auto;
	width:520px;
}
a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
a:visited {
	color: #666;
	font-weight:bold;
	text-decoration:none;
}
a:active,
a:hover {
	color: #bd5a35;
	text-decoration:underline;
}


/*
Table Style - This is what you want
------------------------------------------------------------------ */
table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
table a:visited {
	color: #666;
	font-weight:bold;
	text-decoration:none;
}
table a:active,
table a:hover {
	color: #8C8C8C;
	text-decoration:underline;
}
table {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
table th {
	padding:18px 18px 18px 18px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}

table th:first-child{
	text-align: center;
	padding-left:20px;
}
table tr:first-child th:first-child{
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table tr:first-child th:last-child{
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table tr{
	text-align: left;
	padding-left:20px;
}
table tr td:first-child{
	text-align: center;
	padding-left:20px;
	border-left: 0;
}
table tr td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	/*border-left: 1px solid #e0e0e0;*/
	
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td{
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td{
	border-bottom:0;
}
table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table tr:last-child td:last-child{
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table tr:hover td{
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}
#date {
  text-align:center;
}
#cider {
  text-align:center; 
}
</style>

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar">

 <!-- ========== Navigation ========== -->

        <!--<nav class="navbar navbar-default navbar-fixed-top mega navbar-trans navbar-fw">
          <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Logo -->
            <!--<a class="navbar-brand" href="http://sosososososososo-greativejoo-1.c9.io/"><img class="navbar-logo" src="/assets/images/logo.png" alt="Definity - Logo"></a>-->
            
         <!-- </div>

          <!-- Navbar Links -->
          <!--<div id="navbar" class="navbar-collapse collapse page-scroll navbar-right">
            <ul class="nav navbar-nav">
              
              <li><a style="font-size: 1.0em;" href="/posts/index/3">사례 게시판<span class="sr-only"></span></a></li>
              <%if user_signed_in?%>
              <li><a style="font-size: 1.0em;" href="/users/sign_out">로그아웃<span class="sr-only"></span></a></li>
              <% else %>
              <li><a style="font-size: 1.0em;" href="/main/sign_up">회원가입<span class="sr-only"></span></a></li>
              <% end %>
            </ul><!-- / .nav .navbar-nav -->              
         <!-- </div><!--/.navbar-collapse -->
       <!-- </nav><!-- / .navbar -->

 <!-- ========== Page Title ========== -->
        <header>
          <div class="bg-overlay" >
           <div class="container" style="padding: 15px;0px;15px;0px;">
             <div class="row" >
                <div style="text-align:left;background:white;border-bottom: 1px dashed grey;padding-bottom:15px;padding-left:0px" class="col-md-12">
                <a style="color:black;text-decoration:none"href="#" data-filter=".community">무엇이든 풀고가세요 - 해우소</a>
                <% if user_signed_in? %>
                <a style="color:black;text-decoration:none;float:right;padding-left:15px" href="#" data-filter=".community">마이페이지 </a>
                <a style="color:black;text-decoration:none;float:right;" href="#" data-filter=".community"><%=current_user.nickname%>님 반갑습니다.</a>
                <% else %>
                <a style="color:black;text-decoration:none;float:right;padding-left:15px" href="#" data-filter=".community">로그인 </a>
                <a style="color:black;text-decoration:none;float:right;" href="#" data-filter=".community">회원가입</a>
                <% end %>
                </div>
             </div>
           </div>
         </div>
        </header>
        <header>
        <div class="container">
        <div class="row">
        <div style="padding-left:0px;padding-bottom:15px" class="col-md-12" >
        <img style="height:80px" src="/assets/images/haews.png">
        </div>
        </div>
        </div>
        </header>
        <!-- ========== Page Title ========== -->
        <header>
          <div class="bg-overlay">
           <div class="container">
             <div class="row">
                <ul style="list-style:none;padding-left:0px" id="pfolio-filters" class="custom_hws">
                  <div class="row">
                  <!--<div class="col-md-12">
                  <li class="active"><img class="navbar-logo" src="/assets/images/logo.png"></li>-->
                  </div>
                  <div class="col-lg-4" style="padding-right:0px;padding-left:0px">
                  <li><a style="text-decoration:none"href="#" data-filter=".game"><span class="et-chat"></span>고소미닷컴 </a></li>
                  </div>
                  <div class="col-lg-4" style="padding-left:0px;padding-right:0px">
                  <li><a style="text-decoration:none"href="#" data-filter=".community"><span class="et-browser"></span>사이다</a></li>
                  </div>
                  <div class="col-lg-4" style="padding-left:0px;padding-right:0px">
                  <li><a style="text-decoration:none"href="#" data-filter=".sns"><span class="et-chat"></span>내가 쓴 글</a></li>
                  </div>
                  
                  </div>
                  </ul>
             </div>
           </div>
         </div>
        </header>
        
        

        <div style="padding-top:60px;padding-right:0px;padding-left:0px" id="blog" class="section container blog-classic">
          <div class="row">
 <!-- ========== Sidebar ========== -->

            <aside class="col-md-3 sidebar mb-sm-160" style="padding-left:0px">


              <!-- Search - Widget -->
              <div class="col-md-12 ws-s searh-widget" style="padding-bottom:20px">
                <!--<button style="width:100%;margin-bottom:20px"class="btn">작성</button>-->
                <div class="form-group">
                  
                  <input type="search" placeholder="Search ..." class="form-control">
                  <button class="inside-input-btn"><i class="fa fa-search"></i></button>
                </div>
              </div><!-- / .searh-widget -->
              

              <!-- Recent Posts - Widget -->
              <div class="col-md-12 ws-s recent-posts-widget">
                <h5 class="header-widget">오늘의 사이다</h5>

                <!-- Item 1 -->
                <div class="widget-item">
                  <a href="#"><h6 class="h-alt">Blog Post Example</h6></a>
                  <span>by <a href="#">Joel Fischer</a> / <a href="#">June 23</a></span>
                </div>

                <!-- Item 2 -->
                <div class="widget-item">
                  <a href="#"><h6 class="h-alt">Another Blog Post Example</h6></a>
                  <span>by <a href="#">Joel Fischer</a> / <a href="#">June 23</a></span>
                </div>

                <!-- Item 3 -->
                <div class="widget-item">
                  <a href="#"><h6 class="h-alt">Blog Post Example</h6></a>
                  <span>by <a href="#">Joel Fischer</a> / <a href="#">June 23</a></span>
                </div>

              </div><!-- / .recent-posts-widget -->
              
              <!-- Recent Posts - Widget -->
              <div class="col-md-12 ws-s recent-posts-widget">
                <h5 class="header-widget">내가 쓴 글</h5>

                <!-- Item 1 -->
                <div class="widget-item">
                  <a href="#"><h6 class="h-alt">댓글</h6></a>
                  <span>by <a href="#">Joel Fischer</a> / <a href="#">June 23</a></span>
                </div>

                <!-- Item 2 -->
                <div class="widget-item">
                  <a href="#"><h6 class="h-alt">추천</h6></a>
                  <span>by <a href="#">Joel Fischer</a> / <a href="#">June 23</a></span>
                </div>
              

              </div><!-- / .recent-posts-widget -->
              

              <!-- Recent Posts - Widget -->
              <div class="col-md-12 ws-s recent-posts-widget">
                <h5 class="header-widget">최근 글</h5>

                <!-- Item 1 -->
                <div class="widget-item">
                  <a href="#"><h6 class="h-alt">Blog Post Example</h6></a>
                  <span>by <a href="#">Joel Fischer</a> / <a href="#">June 23</a></span>
                </div>

                <!-- Item 2 -->
                <div class="widget-item">
                  <a href="#"><h6 class="h-alt">Another Blog Post Example</h6></a>
                  <span>by <a href="#">Joel Fischer</a> / <a href="#">June 23</a></span>
                </div>

                <!-- Item 3 -->
                <div class="widget-item">
                  <a href="#"><h6 class="h-alt">Blog Post Example</h6></a>
                  <span>by <a href="#">Joel Fischer</a> / <a href="#">June 23</a></span>
                </div>

              </div><!-- / .recent-posts-widget -->


              <!-- Categories - Widget -->
              <!--<div class="col-md-12 ws-s categories-widget">
                <h5 class="header-widget">Categories</h5>

                <!-- Item 1 -->
               <!-- <div class="widget-item">
                  <a href="#">Web Design - <span>15</span></a>
                </div>

                <!-- Item 2 -->
              <!--  <div class="widget-item">
                  <a href="#">Graphic Design - <span>6</span></a>
                </div>

                <!-- Item 3 -->
              <!--   <div class="widget-item">
                  <a href="#">iOS Development - <span>12</span></a>
                </div>

                <!-- Item 4 -->
            <!--     <div class="widget-item">
                  <a href="#">Other - <span>3</span></a>
                </div>

              </div><!-- / .categories-widget -->

              <!-- Comments - Widget -->
              <div class="col-md-12 ws-s comments-widget">
                <h5 class="header-widget">최근 댓글</h5>

                <!-- Item 1 -->
                <div class="widget-item">
                  <span><a href="#">Jon Doe</a> on <a href="#" class="widget-comm-title">Lorem ipsum dolor sit amet</a></span>
                </div>

                <!-- Item 2 -->
                <div class="widget-item">
                  <span><a href="#">Jon Doe</a> on <a href="#" class="widget-comm-title">Sed do eiusmod</a></span>
                </div>

                <!-- Item 3 -->
                <div class="widget-item">
                  <span><a href="#">Jon Doe</a> on <a href="#" class="widget-comm-title">Lorem ipsum dolor sit amet</a></span>
                </div>

                <!-- Item 4 -->
                <div class="widget-item">
                  <span><a href="#">Jon Doe</a> on <a href="#" class="widget-comm-title">Sed do eiusmod</a></span>
                </div>
                
              </div><!-- / .comments-widget -->


             
            </aside><!-- / .sidebar -->

            

<div class="col-md-9">
    <table style="width:100%;border-collapse:none" cellspacing='0'> <!-- cellspacing='0' is important, must stay -->
    	<tr><th style="width:10%">글번호</th><th style="width:50%">제목</th><th style="width:15%">닉네임</th><th style="width:10%;text-align:center">사이다</th><th style="width:15%;text-align:center">날짜</th></tr><!-- Table Header -->
        
        
        <tr><td>20</td><td><a href="#">야 이거 내가 잘못한거냐?</a></td><td>끼욧</td><td id="cider">119</td><td id="date">2015-11-12</td></tr>
      	<tr class='even'><td>19</td><td><a href="#">야 이거 내가 잘못한거냐?</a></td><td>1픽주면던짐</td><td id="cider">152</td><td id="date">2015-11-12</td></tr>
      	
      	
        <tr><td>18</td><td><a href="#">[필독]게임하면서 지켜야 하는 것들</a></td><td>호옹이</td><td id="cider">119</td><td id="date">2015-11-12</td></tr><!-- Table Row -->
      	<tr class='even'><td>17</td><td><a href="#">심심하다!!</a></td><td>5픽주면 던짐</td><td id="cider">311</td><td id="date">2015-11-12</td></tr><!-- Darker Table Row -->
      
      	<tr><td>16</td><td><a href="#">야 이거 내가 잘못한거냐?</a></td><td>끼욧</td><td id="cider">311</td><td id="date">2015-11-12</td></tr>
      	<tr class='even'><td>15</td><td><a href="#">야 이거 내가 잘못한거냐?</a></td><td>1픽주면던짐</td><td id="cider">311</td><td id="date">2015-11-12</td></tr>
      	
        <tr><td>14</td><td><a href="#">야 이거 내가 잘못한거냐?</a></td><td>깨햇</td><td id="cider">311</td><td id="date">2015-11-12</td></tr>
      	<tr class='even'><td>13</td><td><a href="#">야 이거 내가 잘못한거냐?</a>%</td><td>하하</td><td id="cider">311</td><td id="date">2015-11-12</td></tr>
      
      	<tr><td>12</td><td><a href="#">야 이거 내가 잘못한거냐?</a></td><td>굳</td><td id="cider">311</td><td id="date">2015-11-12</td></tr>
      	<tr class='even'><td>11</td><td><a href="#">야 이거 내가 잘못한거냐?</a></td><td>굳</td><td id="cider">311</td><td id="date">2015-11-12</td></tr>
      	
      	<tr><td>10</td><td><a href="#">야 이거 내가 잘못한거냐?</a></td><td>굳</td><td id="cider">311</td><td id="date">2015-11-12</td></tr>
      	<tr class='even'><td>9</td><td><a href="#">야 이거 내가 잘못한거냐? 나도봐줘</a></td><td>굳</td><td id="cider">311</td><td id="date">2015-11-12</td></tr>
      	
      	<tr><td>8</td><td><a href="#">야 이거 내가 잘못한거냐?</a></td><td>굳</td><td id="cider">311</td><td id="date">2015-11-12</td></tr>
      	<tr class='even'><td>7</td><td><a href="#">야 이거 내가 잘못한거냐?</a></td><td>굳</td><td id="cider">311</td><td id="date">2015-11-12</td></tr>
      	
      	<tr><td>6</td><td><a href="#">야 이거 내가 잘못한거냐?</a></td><td>굳</td><td id="cider">311</td><td id="date">2015-11-12</td></tr>
      	<tr class='even'><td>5</td><td><a href="#">야 이거 내가 잘못한거냐?</a></td><td>굳</td><td id="cider">311</td><td id="date">2015-11-12</td></tr>
      	
      	<tr><td>4</td><td><a href="#">야 이거 내가 잘못한거냐?</a></td><td>굳</td><td id="cider">311</td><td id="date">2015-11-12</td></tr>
      	<tr class='even'><td>3</td><td><a href="#">야 이거 내가 잘못한거냐?</a></td><td>굳</td><td id="cider">311</td><td id="date">2015-11-12</td></tr>
      	
      	<tr><td>2</td><td><a href="#">야 이거 내가 잘못한거냐?</a></td><td>굳</td><td id="cider">311</td><td id="date">2015-11-12</td></tr>
      	<tr class='even'><td>1</td><td><a href="#">야 이거 내가 잘못한거냐?</a></td><td>굳</td><td id="cider">311</td><td id="date">2015-11-12</td></tr>
      
        
        <!--<tr class='even'><td><a href="#yep-iit-doesnt-exist">Hyperlink Example</a></td><td>80%</td><td><a href="#inexistent-id">Another</a></td><td>2015-11-12</td></tr>-->
        
        
        
    </table>
    <div class="col-md-12" style="text-align:right; margin-top:20px;padding-right:0px">
           <button class="btn">글 쓰기</button>
    </div>
    <div class="col-md-12" style="text-align:center;">
           <nav class="blog-pagination">
                <ul class="pagination">
                  <li>
                    <a href="#" aria-label="Previous">
                      <span aria-hidden="true"><i class="fa fa-angle-double-left"></i></span>
                    </a>
                  </li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">...</a></li>
                  <li><a href="#">7</a></li>
                  <li>
                    <a href="#" aria-label="Next">
                      <span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span>
                    </a>
                  </li>
                </ul>
             </nav>
    </div>
    <div class="col-md-12" style="text-align:center; margin-top:20px">
           <div class="form-group">
           <div class="col-md-2">
           
           </div>
           <div class="col-md-2">
                  <select class="form-control" name="search_target">
                                        <option value="title">제목</option>
                                        <option value="content">내용</option>
                                        <option value="title_content">제목+내용</option>
                  </select>
                  </div>
                  <div  class="col-md-4">
                  <input type="text" placeholder="Search ..." class="form-control">
                  </div>
                  <div class="col-md-2">
                  <button class="btn"><i class="fa fa-search"></i>검색</button>
                  </div>
                  <div class="col-md-2">
                  </div>
           </div>
    </div>
    
</div>

</div><!-- row -->

</div>

<!-- Copyright -->
        <footer style="clear:both" id="aa4">
          <div class="copyright">
            <div class="container footer-social-links">
              <div class="row">
                <div class="col-md-12">
                <div class="col-md-3"></div>
                <ul style="padding-top:0px;padding-bottom:0px">
                  <div class="col-md-2">
                  <li><a data-toggle="modal" data-target="#Modal1" href="#">회사소개</a></li>
                  </div>
                  <div class="col-md-2">
                  <li><a data-toggle="modal" data-target="#query"href="#">제휴/광고문의</a></li>
                  </div>
                  <div class="col-md-2">
                  <li><a href="#">개인정보취급방침</a></li>
                  </div>
                </ul>
                <div class="col-md-3"></div>
                </div>
                <div class="col-md-6">
                  <small style="float:left;color:#777;">&copy; 2015 고소미.KR <a class="no-style-link" href="http://themeforest.net/user/octarinethemes" target="_blank"></a></small>
                </div>

                <div class="col-md-6">
                  <small style="float:right"><a href="#page-top" class="pull-right to-the-top">To the top<i class="fa fa-angle-up"></i></a></small>
                </div>
                <div style="color:#777;"class="contact">
       	서울특별시 성북구 개운사길 86-2(안암동5가)<br>
       	사업자등록번호:739-20-00111
       	
        
                </div>

              </div><!-- / .row -->
            </div><!-- / .container -->
          </div><!-- / .copyright -->
        </footer><!-- / .footer-contact -->
        
        
        <!-- == Modals == -->
        
        <!-- Button trigger modal -->


<!-- Modal_CompanyInfo-->
<div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        저희 고소미는<br> 
        "올바른 인터넷 문화를 지향" 이라는 슬로건 아래 '인터넷 악플 및 명예훼손'을 근절하자는 취지로 설립되었습니다. 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
        
      </div>
    </div>
  </div>
</div>


<!-- Modal Query-->
<div class="modal fade" id="query" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">피드백&제휴문의</h4>
      </div>
      <div class="modal-body">
        <form action="/main/email_send" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label for="recipient-name" class="control-label">받는사람:</label>
            <input type="text" name="receiver" readonly value="info@gosomi.com" class="form-control" id="recipient-name">
          </div>
           <div class="form-group">
            <label for="recipient-name" class="control-label">보내는사람:</label>
            <input type="text" name="giver" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="control-label">제목:</label>
            <input type="text" name="title" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label">내용:</label>
            <textarea name="contents" class="form-control" id="message-text"></textarea>
          </div>
        
      </div>
              
      <div class="modal-footer">
        
        <button type="submit" class="btn btn-primary">보내기</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
		</form>
      </div>
    </div>
  </div>
</div>


        
         <!-- ========== Scripts ========== -->
        
        <script src="/assets/js/vendor/jquery-2.1.4.min.js"></script>
        <script src="/assets/js/vendor/google-fonts.js"></script>
        <script src="/assets/js/vendor/jquery.easing.js"></script>
        <script src="/assets/js/vendor/jquery.waypoints.min.js"></script>
        <script src="/assets/js/vendor/bootstrap.min.js"></script>
        <script src="/assets/js/vendor/bootstrap-hover-dropdown.min.js"></script>
        <script src="/assets/js/vendor/smoothscroll.js"></script>
        <script src="/assets/js/vendor/jquery.localScroll.min.js"></script>
        <script src="/assets/js/vendor/jquery.scrollTo.min.js"></script>
        <script src="/assets/js/vendor/jquery.stellar.min.js"></script>
        <script src="/assets/js/vendor/jquery.parallax.js"></script>
        <script src="/assets/js/vendor/slick.min.js"></script>
        <script src="/assets/js/vendor/jquery.easypiechart.min.js"></script>
        <script src="/assets/js/vendor/countup.min.js"></script>
        <script src="/assets/js/vendor/isotope.min.js"></script>
        <script src="/assets/js/vendor/jquery.magnific-popup.min.js"></script>
        <script src="/assets/js/vendor/wow.min.js"></script>
        <script src="/assets/js/vendor/jquery.mb.YTPlayer.min.js"></script>


        <!-- Google Maps -->
        <!--<script src="/assets/js/gmap.js"></script>-->
        <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOcd7o0W0r846FC_GoHSK56xeAvP8fV4s"></script>-->

        <!-- Definity JS -->
        <script src="/assets/js/main.js"></script>
</body>
</html>
