<br><br><br>
<form action='/hws/create' method='post'>
    <p>title</p>
    <input type='text' name='title'>
    <p>content</p> 
    <textarea name='content'></textarea>
    <p>category</p>
    <input type='radio' name='category' value='사례'>사례
    <input type='radio' name='category' value='잡담'>잡담
    <input type='submit'>
</form>

